.note {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.thumbnail-container,
.photo-container {
    background-color: #706e6b;
    overflow: hidden;
    position: relative;
}

.thumbnail-container {
    display: flex;
    height: 96px;
    width: 128px;
}

.details {
    flex-grow: 1;
    padding: 0 .75rem;
}

.thumbnail {
    object-fit: contain;
}

.type {
    font-size: 1.125rem;
}

.photo-container {
    text-align: center;
}

.photo {
    max-height: 50vh;
}

.pointer {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.pointer-circle {
    border: .125rem solid red;
    border-radius: 50%;
    display: inline-block;
    opacity: .7;
    padding-top: calc(100% - .25rem);
    width: 100%;
}

.panel-backdrop {
    cursor: pointer;
    z-index: 1000;
}

.panel {
    bottom: -3px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.25);
    height: auto;
    left: 0;
    max-height: 100%;
    position: fixed;
    transition: top,transform .1s ease-out;
    transform: translateY(100%);
    width: 100%;
    z-index: 1001;
    opacity: 1;
}

.panel--open {
    bottom: 0;
    transform: translateY(0);
}