<template>
    <div class="note" onclick={openPreview}>
        <div class="thumbnail-container">
            <img class="thumbnail" src={note.photo}>

            <div class="pointer" style={thumbnailPointerStyle}>
                <div class="pointer-circle"></div>
            </div>
        </div>

        <div class="details">
            <div class="slds-card__header">
                <div class="type slds-card__header-title">
                    {note.note}
                </div>
            </div>

            <div class="slds-card__body slds-p-horizontal_small">
                {note.text}
            </div>
        </div>

        <div if:true={removable} class="slds-p-horizontal_small">
            <button
                class="slds-button slds-button_icon slds-button_icon-small"
                type="button"
                onclick={remove}
            >
                <svg class="slds-button__icon">
                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#delete"></use>
                </svg>
            </button>
        </div>
    </div>

    <div if:true={previewOpen} class="panel-backdrop slds-backdrop slds-backdrop_open" onclick={closePreview}></div>

    <div if:true={previewOpen} class={previewPanelClass} aria-hidden="false">
        <div class="slds-panel__header">
            <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate">
                {note.note}
            </h2>

            <button
                class="slds-button slds-button_icon slds-button_icon-small slds-panel__close"
                title="Close Panel"
                type="button"
                onclick={closePreview}
            >
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close Panel</span>
            </button>
        </div>

        <div class="slds-panel__body">
            <div class="photo-container">
                <img class="photo" src={note.photo}>

                <div class="pointer" style={previewPointerStyle}>
                    <div class="pointer-circle"></div>
                </div>
            </div>
        </div>
    </div>
</template>