<template>
    <div>
        <div class="tabTitle">
            Applicant
        </div>
        
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div>
                    <!-- <c-credit-application-addresses-form address-type="Current_Address" component-label="Current Address" 
                            onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Current Address
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Applicant" data-fieldname="Current_Address_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Applicant" data-fieldname="Current_Address_Street__c" name="ApplicantCurrent_Address_Street_1__c" type="text" label="Address 1" 
                        value={applicantAddressWrapper.Current_Address_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Current_Address_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={applicantAddressWrapper.Current_Address_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Current_Address_City__c" name="city" type="text" label="City" 
                        value={applicantAddressWrapper.Current_Address_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Applicant" data-fieldname="Current_Address_State__c" name="state" label="State" 
                                value={applicantAddressWrapper.Current_Address_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Current_Address_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={applicantAddressWrapper.Current_Address_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Applicant" data-fieldname="Current_Address_Country__c" name="country" label="Country" 
                        value={applicantAddressWrapper.Current_Address_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Current_Address_Years__c" name="years" type="number" label="Years" 
                                    value={applicantAddressWrapper.Current_Address_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Current_Address_Months__c" name="month" type="number" label="Months" 
                                    value={applicantAddressWrapper.Current_Address_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                </div>

                <div>
                    <!-- <c-credit-application-addresses-form address-type="Previous_Address_2" component-label="Previous Address 2" 
                            onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Previous Address 2
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Applicant" data-fieldname="Previous_Address_2_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_Street__c" name="street1" type="text" label="Address 1" 
                        value={applicantAddressWrapper.Previous_Address_2_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={applicantAddressWrapper.Previous_Address_2_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_City__c" name="city" type="text" label="City" 
                        value={applicantAddressWrapper.Previous_Address_2_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Applicant" data-fieldname="Previous_Address_2_State__c" name="state" label="State" 
                                    value={applicantAddressWrapper.Previous_Address_2_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={applicantAddressWrapper.Previous_Address_2_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Applicant" data-fieldname="Previous_Address_2_Country__c" name="country" label="Country" 
                        value={applicantAddressWrapper.Previous_Address_2_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_Years__c" name="years" type="number" label="Years" 
                                    value={applicantAddressWrapper.Previous_Address_2_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_2_Months__c" name="month" type="number" label="Months" 
                                    value={applicantAddressWrapper.Previous_Address_2_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col">
                <div>
                    <!-- <c-credit-application-addresses-form address-type="Previous_Address_1" component-label="Previous Address 1" 
                        onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Previous Address 1
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Applicant" data-fieldname="Previous_Address_1_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_Street__c" name="street1" type="text" label="Address 1" 
                        value={applicantAddressWrapper.Previous_Address_1_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={applicantAddressWrapper.Previous_Address_1_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_City__c" name="city" type="text" label="City" 
                        value={applicantAddressWrapper.Previous_Address_1_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Applicant" data-fieldname="Previous_Address_1_State__c" name="state" label="State" 
                                    value={applicantAddressWrapper.Previous_Address_1_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={applicantAddressWrapper.Previous_Address_1_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Applicant" data-fieldname="Previous_Address_1_Country__c" name="country" label="Country" 
                        value={applicantAddressWrapper.Previous_Address_1_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_Years__c" name="years" type="number" label="Years" 
                                    value={applicantAddressWrapper.Previous_Address_1_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Applicant" data-fieldname="Previous_Address_1_Months__c" name="month" type="number" label="Months" 
                                    value={applicantAddressWrapper.Previous_Address_1_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div>
        <div class="slds-grid tabTitle">
            <div class="slds-col slds-size_1-of-3" style="text-align: left; margin-left: 0.5rem;">
                <lightning-input  type="checkbox" label="Same As Applicant" onchange={handleSameAsApplicantCheck}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-3">
                Co-Applicant
            </div>
            <div class="slds-col slds-size_1-of-3"></div>
        </div>
        
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div>
                    <!-- <c-credit-application-addresses-form address-type="Current_Address" component-label="Current Address" 
                        onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Current Address
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Co-Applicant" data-fieldname="Current_Address_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_Street__c" name="street1" type="text" label="Address 1" 
                        value={coApplicantAddressWrapper.Current_Address_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={coApplicantAddressWrapper.Current_Address_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_City__c" name="city" type="text" label="City" 
                        value={coApplicantAddressWrapper.Current_Address_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Co-Applicant" data-fieldname="Current_Address_State__c" name="state" label="State" 
                                    value={coApplicantAddressWrapper.Current_Address_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={coApplicantAddressWrapper.Current_Address_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Co-Applicant" data-fieldname="Current_Address_Country__c" name="country" label="Country" 
                        value={coApplicantAddressWrapper.Current_Address_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_Years__c" name="years" type="number" label="Years" 
                                    value={coApplicantAddressWrapper.Current_Address_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Current_Address_Months__c" name="month" type="number" label="Months" 
                                    value={coApplicantAddressWrapper.Current_Address_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>    
                </div>
                <div>
                    <!-- <c-credit-application-addresses-form address-type="Previous_Address_2" component-label="Previous Address 2" 
                        onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Previous Address 2
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Co-Applicant" data-fieldname="Previous_Address_2_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_Street__c" name="street1" type="text" label="Address 1" 
                        value={coApplicantAddressWrapper.Previous_Address_2_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={coApplicantAddressWrapper.Previous_Address_2_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_City__c" name="city" type="text" label="City" 
                        value={coApplicantAddressWrapper.Previous_Address_2_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Co-Applicant" data-fieldname="Previous_Address_2_State__c" name="state" label="State" 
                                    value={coApplicantAddressWrapper.Previous_Address_2_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={coApplicantAddressWrapper.Previous_Address_2_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Co-Applicant" data-fieldname="Previous_Address_2_Country__c" name="country" label="Country" 
                        value={coApplicantAddressWrapper.Previous_Address_2_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_Years__c" name="years" type="number" label="Years" 
                                    value={coApplicantAddressWrapper.Previous_Address_2_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_2_Months__c" name="month" type="number" label="Months" 
                                    value={coApplicantAddressWrapper.Previous_Address_2_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col">
                <div>
                    <!-- <c-credit-application-addresses-form address-type="Previous_Address_1" component-label="Previous Address 1" 
                        onvaluechanged={handleValueChange}></c-credit-application-addresses-form> -->
                    <div class="formTitle">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                                Previous Address 1
                            </div>
                            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                                <lightning-button data-role="Co-Applicant" data-fieldname="Previous_Address_1_" variant="base" 
                                    icon-name="utility:delete" onclick={handleClearing}></lightning-button>
                            </div>
                        </div>
                    </div>
                
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_Street__c" name="street1" type="text" label="Address 1" 
                        value={coApplicantAddressWrapper.Previous_Address_1_Street__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_Street_2__c" name="street2" type="text" label="Address 2" 
                        value={coApplicantAddressWrapper.Previous_Address_1_Street_2__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_City__c" name="city" type="text" label="City" 
                        value={coApplicantAddressWrapper.Previous_Address_1_City__c} max-length="255" onblur={handleValueChange}></lightning-input>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-combobox data-role="Co-Applicant" data-fieldname="Previous_Address_1_State__c" name="state" label="State" 
                                    value={coApplicantAddressWrapper.Previous_Address_1_State__c} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_Zipcode__c" name="zipcode" type="text" label="Zipcode" 
                                    value={coApplicantAddressWrapper.Previous_Address_1_Zipcode__c} max-length="255" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                    <lightning-combobox data-role="Co-Applicant" data-fieldname="Previous_Address_1_Country__c" name="country" label="Country" 
                        value={coApplicantAddressWrapper.Previous_Address_1_Country__c} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_Years__c" name="years" type="number" label="Years" 
                                    value={coApplicantAddressWrapper.Previous_Address_1_Years__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input data-role="Co-Applicant" data-fieldname="Previous_Address_1_Months__c" name="month" type="number" label="Months" 
                                    value={coApplicantAddressWrapper.Previous_Address_1_Months__c} max-length="18" onblur={handleValueChange}></lightning-input>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>