<template>
    <h1 class="slds-text-title_caps slds-align_absolute-center slds-m-bottom_small">{day}</h1>

    <button class="slds-button slds-button_brand add-button" onclick={handleCreate}>Add Slot</button>

    <template for:each={slots} for:item="slot" for:index="index">
        <div class="slot" key={slot.fullStartTime}>
            <a href="javascript:void(0)" class="slot-link" data-index={index} onclick={handleEdit}>
                {slot.fullStartTime} - {slot.fullEndTime}
            </a>
            <p class="delete-button-wrapper">
                <lightning-button-icon
                    icon-name="utility:close"
                    onclick={handleDelete}
                    data-index={index}
                    size="small"
                    variant="bare"
                    class="slds-m-left_xx-small"
                    alternative-text=""
                    title=""></lightning-button-icon>
            </p>
        </div>
    </template>

    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{modalAction} Slot</h2>
                </header>

                <div class={modalClass} id="modal-content-id-1">
                    <template if:true={isDelete}>
                        Are you sure you want to delete selected slot?
                    </template>

                    <template if:false={isDelete}>
                        <div class="slds-size_1-of-4">
                            <lightning-combobox
                                class="slds-m-horizontal_small"
                                label="Start Hour"
                                value={selectedSlot.startTimeHour}
                                data-field="startTimeHour"
                                required
                                onchange={handleTimeChange}
                                options={hourOptions}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-size_1-of-4">
                            <lightning-combobox
                                class="slds-m-horizontal_small"
                                label="Start Minute"
                                value={selectedSlot.startTimeMinute}
                                data-field="startTimeMinute"
                                required
                                onchange={handleTimeChange}
                                options={minuteOptions}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-size_1-of-4">
                            <lightning-combobox
                                class="slds-m-horizontal_small"
                                label="End Hour"
                                value={selectedSlot.endTimeHour}
                                data-field="endTimeHour"
                                required
                                onchange={handleTimeChange}
                                options={hourOptions}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-size_1-of-4">
                            <lightning-combobox
                                class="slds-m-horizontal_small"
                                label="End Minute"
                                value={selectedSlot.endTimeMinute}
                                data-field="endTimeMinute"
                                required
                                onchange={handleTimeChange}
                                options={minuteOptions}>
                            </lightning-combobox>
                        </div>
                    </template>

                </div>

                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleSubmit}>Submit</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>