.slot {
    width: 150px;
    height: 24px;
    margin: auto;
}

.slot-link {
    display: inline-block;
    width: 130px;
    float: left;
}

.delete-button-wrapper {
    float: left;
    position: relative;
    top: -2px;
}

.add-button {
    display: block;
    margin: 10px auto;
}

.modal-with-picklists {
    height: 260px;
    min-height: 260px;
}