.THIS .scrollable {
    max-height: 400px;
}

.THIS .actvityHeader {
    font-size: 16px;
    font-weight: 600;
}

.THIS .slds-card__header {
    display : none;
    visibility : hidden;
}

.THIS .SMS_Icon{
    background-image: url(/resource/SMS_Icon);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}

.THIS .SMS_Icon_Red{
    background-image: url(/resource/SMS_Icon_Red);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}

.THIS .Note_Icon{
    background-image: url(/resource/Note_Icon);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}


.THIS .Visit_Icon{
    background-image: url(/resource/Visit_Icon);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}

.THIS .Email_Icon{
    background-image: url(/resource/New_Email_Icon);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}

.THIS .Phone_Icon{
    background-image: url(/resource/Phone_Icon);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}
.THIS .Phone_Icon_Red{
    background-image: url(/resource/Phone_Icon_Red);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}

.THIS .Email_Message{
    background-image: url(/resource/Email_Message_Notification_New);
    background-repeat: no-repeat;
    background-size: 30px;
    height: 35px;
    background-position: center;
}