<template>
    <template if:true={isReady}>
        <div style="margin: auto; width: 70%">
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Owner:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.Owner}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Authorize User:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.AuthorizeUser}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Vehicle:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.Vehicle}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Service Advisor:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.ServiceAdvisor}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Appointment Date/Time:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.AppointmentDate}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Selected Services:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.SelectedServices}</div>
                </div>
            </div>
            <div class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Transportation:</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.Transportation}</div>
                </div>
            </div>
            <div if:true={serviceAppointment.Address} class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Address</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.Address}</div>
                </div>
            </div>
            <div if:true={serviceAppointment.TransportationNote} class="slds-grid slds-gutters" style="margin: 5px">
                <div class="slds-col slds-size_2-of-5" style="text-align: right">
                    <div>Transportation Notes</div>
                </div>
                <div class="slds-col slds-size_3-of-5" >
                    <div>{serviceAppointment.TransportationNote}</div>
                </div>
            </div>
        </div>

        <div style="margin: auto; width: 90%">
            <div style="font-weight: bold; font-size: medium;">
                Email confirmation
                <hr style="margin: 2px">
            </div>

            <div if:true={isTemplateReady}>
                <lightning-input type="checkbox" label="Do Not Send Email" name="donotsendemail" value={doNotSendEmail} 
                onchange={handleCheckboxCheck}></lightning-input>

                <div >
                    <!-- <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_1-of-10" >
                            <div style="margin-top: 10%">TO:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-10" >
                            <lightning-formatted-text value={toEmails} ></lightning-formatted-text>
                        </div>
                    </div> -->
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_1-of-10" >
                            <div style="margin-top: 10%">TO:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-10" style="display: flex">
                            <lightning-input type="email" label="Owner:" value={ownerEmail} onchange={handleOwnerInput} disabled={doNotSendEmail}></lightning-input>
                            <div if:true={isAuthUserEmailVisible} style="margin-left: 1rem">
                                <lightning-input type="email" label="Authorized User:" value={authUserEmail} onchange={handleAuthUserInput} disabled={doNotSendEmail}></lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_1-of-10" >
                            <div style="margin-top: 10%">CC:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-10" >
                            <lightning-input type="email" label="CC:" variant="label-hidden" value={ccEmail} onchange={handleCCInput} disabled={doNotSendEmail}></lightning-input>
                        </div>
                        <div class="slds-col slds-size_2-of-10" >
                            <lightning-button label="Add" variant="brand" onclick={handleAddCC} disabled={addButtonDisabled}></lightning-button>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_1-of-10" ></div>
                        <div class="slds-col slds-size_7-of-10" style="width: fit-content;">
                            <template for:each={ccEmailList} for:item="email" for:index="index">
                                <lightning-pill key={email} label={email} data-index={index} onremove={handleRemoveCC}></lightning-pill>
                            </template>
                        </div>
                        <div class="slds-col slds-size_2-of-10" ></div>
                    </div>
                </div>
                
                
                <!-- <h1>Additional Comments</h1>
                <lightning-textarea name="input1" variant="label-hidden" value={comment} onchange={handleCommentInput} disabled={doNotSendEmail}>
                    </lightning-textarea> -->

                <!-- <lightning-formatted-rich-text value={templateHTML}></lightning-formatted-rich-text> -->
            </div>

            <div if:false={isTemplateReady}>
                Email Template is not found. Confirmation email cannot be sent.
            </div>
        </div>
    </template>
</template>