.confirm-button {
    margin-top: 20px;
}

.reason-toggle {
    text-align: left;
    width: max-content;
}

.selected-opportunity {
    margin: 1rem;
}

.confrim-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.result-icon {
    margin-right: 0.5rem;
}

.select-container {
    position: relative;
}