<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                    New Activity Form
                </h2>
            </header>
                <div class="slds-modal__content slds-p-around_medium select-container" id="modal-content-id-1" style="height: 30rem">
                    <template if:true={isSales}>
                        <div class="reason-toggle">
                            <lightning-input 
                                type="toggle" 
                                label="No activiy information available" 
                                name="input1" 
                                onchange={handleNoActivity} 
                                checked 
                                message-toggle-active=" "  
                                message-toggle-inactive=" ">
                            </lightning-input>
                        </div>
                        <template if:false={activiyInfoAvailable}>
                            <template if:true={isManager}>
                                <lightning-combobox
                                    name="reason"
                                    label="Status"
                                    value={currentReason}
                                    placeholder="Select no lead reason:"
                                    options={options}
                                    onchange={handleReasonChange}
                                    required
                                ></lightning-combobox>
                                <button class="slds-button slds-button_neutral confrim-button" onclick={closeModalWithNoLead} disabled={isNotReasonSelected}>
                                    Confirm
                                </button>
                            </template>
                            <template if:false={isManager}>
                                <button class="slds-button slds-button_neutral confrim-button" onclick={closeModalWithNoLead}>
                                    Confirm
                                </button>
                            </template>
                        </template>
                        <template if:true={activiyInfoAvailable}>
                            <div class="reason-toggle">
                                <lightning-input 
                                    type="toggle" 
                                    label="Lead/Opportunity" 
                                    name="input2" 
                                    onchange={handleFormSwitch} 
                                    checked 
                                    message-toggle-active=" "  
                                    message-toggle-inactive=" ">
                                </lightning-input>
                            </div>
                            <template if:true={newLeadForm}>
                                <lightning-record-edit-form object-api-name="Lead" onsuccess={closeModalWithLead}>
                                    <lightning-messages>
                                    </lightning-messages>
                                    <lightning-input-field field-name="Name">
                                    </lightning-input-field>
                                    <lightning-input-field field-name="Phone">
                                    </lightning-input-field>
                                    <lightning-input-field field-name="Email">
                                    </lightning-input-field>
                                    <lightning-input-field field-name="Dealer_ID__c" value={dealer} disabled="true">
                                    </lightning-input-field>
                                    <lightning-button class="slds-m-top_small" type="submit" label="Confirm">
                                    </lightning-button>
                                </lightning-record-edit-form>
                            </template>
                            <template if:true={opportunityForm}>
                                <c-up-system-opportunity-lookup dealer={dealer} onselect={handleOpporunitySelect}></c-up-system-opportunity-lookup>
                                <template if:false={isOpportunityNotSelected}>
                                    <div class="selected-opportunity">
                                        <lightning-icon class="result-icon" icon-name="standard:opportunity" size="small" alternative-text="Result item icon"></lightning-icon> 
                                        {selectedOpportunity.name}
                                    </div>
                                </template>
                                <button class="slds-button slds-button_neutral confrim-button" disabled={isOpportunityNotSelected} onclick={closeModalWithOpportunity}>
                                    Confirm
                                </button>
                            </template>
                        </template>
                    </template>
                    <template if:false={isSales}>
                        <c-up-system-account-lookup dealer={dealer} onselect={handleAccountSelect}></c-up-system-account-lookup>
                        <template if:false={isAccountNotSelected}>
                            <div class="selected-opportunity">
                                <lightning-icon class="result-icon" icon-name="standard:account" size="small" alternative-text="Result item icon"></lightning-icon> 
                                {selectedAccount.name}
                            </div>
                        </template>
                        <button class="slds-button slds-button_neutral confrim-button" disabled={isAccountNotSelected} onclick={closeModalWithAccount}>
                            Confirm
                        </button>
                    </template>
                </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>