<template>
    <div class="slds-m-top_medium slds-m-bottom_x-large" style="max-height:350px;overflow:auto">
        <lightning-card  title="Account Notes" >
            <lightning-button label="Add New Note" slot="actions" onclick={handlePopup}></lightning-button>

        <template for:each={data} for:item="fjNote">
            <div class="slds-m-around_medium row" key={fjNote.Id}>
                <p class="slds-text-body_regular">{fjNote.Body__c}</p>
                <span style="font-size:8pt;color:rgb(30, 106, 221)">{fjNote.Created_By_Name__c}</span> - <span style="font-size:8pt;color:gray"><lightning-formatted-date-time value={fjNote.CreatedDate} year="numeric" month="numeric" day="numeric" hour="2-digit"
                  minute="2-digit" hour12="true"></lightning-formatted-date-time></span>
            </div>
        </template>
        </lightning-card>
    </div>
    <template if:true={editMode}>
    <div class="chart slds-m-around_medium" lwc:dom="manual"></div>
    <section
      id="modal"
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close" onclick={closePopup}>
          <lightning-icon icon-name="utility:close" size="medium" variant="inverse"></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
            Create New Account Note
          </h2>
        </header>
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <div class="slds-p-bottom_large slds-p-left_large" style="width:500px">
            <lightning-record-edit-form
              object-api-name="FJ_Note__c"
              onsuccess={handleSuccess}
              onsubmit={onSubmitHandler}
            >
              <lightning-messages></lightning-messages>
              <p><b>Account Name</b></p>
              <span>{Name}</span>
              <p><br/></p>
              <p>
            <label for="Body">Account Note Comments</label>
              <lightning-input-field id="Body" field-name="Body__c" required variant="label-hidden"></lightning-input-field>
            </p>
              <lightning-button
                type="submit"
                label="Create note"
                class="slds-m-top_medium"
              ></lightning-button>
            </lightning-record-edit-form>
            
          </div>
        </div>
        
      </div>
    </section>
    <div
      class="slds-backdrop slds-backdrop_open modalBackdrops"
      id="modalBackdrops"
    ></div>
</template>
</template>