.innerFormTitle {
  border-bottom: solid 0.15rem;
  border-color: rgb(0, 0, 0);
  background-color: rgb(187, 186, 186);
  height: 1.85rem;
  margin-top: 0.5rem;
  font-size: medium;
  font-weight: bold;
  padding-top: 0.2rem; 
  padding-left: 0.3rem;
}