<template>
    <div class="innerFormTitle">
        {componentLabel}
    </div>

    <lightning-input data-fieldname="Employment_Income_" type="number" label="Employment" value={employment} formatter="currency"
        name="employment" max-length="18" onblur={handleValueChange} onchange={handleEmploymentValueEdit} disabled={inputdisabled}></lightning-input>
    <lightning-input data-fieldname="Alimony_Income_" type="number" label="Alimony" value={alimony} formatter="currency"
        name="alimony" max-length="18" onblur={handleValueChange} onchange={handleAlimonyValueEdit} disabled={inputdisabled}></lightning-input>
    <lightning-input data-fieldname="Other_Income_" type="number" label="Other Income" value={otherincome} formatter="currency"
        name="otherincome" max-length="18" onblur={handleValueChange} onchange={handleIncomeValueEdit} disabled={inputdisabled}></lightning-input>

    <br/>
    <div style="font-weight: bold;">
        Total Income: $ {totalincome}
    </div>
    <br/>
</template>