<template>
    <div class="tabTitle">
        {role}
    </div>
    
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <div>
                <c-credit-application-reference-form reference-type="Personal_Reference_1" component-label="Reference 1 / Relative" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-form>
            </div>
            <div>
                <c-credit-application-reference-form reference-type="Personal_Reference_3" component-label="Reference 3" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-form>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <div>
                <c-credit-application-reference-form reference-type="Personal_Reference_2" component-label="Reference 2" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-form>
            </div>
        </div>
    </div>
</template>