<template>
    <div if:false={isCreatedSuccessfully} class="slds-card">
        <template if:true={isProcess}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>

        <div id="header" class="slds-card_header">
            <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
                <slot name="header">
                    Schedule Sales Appointment
                    </br>
                    <div style="font-size: smaller;">
                        <div>{relatedAccount.Name}</div>
                        <div>{salesAppointment.Dealer}</div>
                        <!-- <div>Vehicle</div> -->
                    </div>
                </slot>
            </div>
        </div>
        <hr style="margin: 0 0 1rem;">

        <div if:false={isConfirmationStep}>
            <div>
                <div class="slds-grid slds-wrap" style="margin: auto; width: 90%;">
                    <div class="slds-col slds-size_1-of-5" style="padding: 1rem;">
                        <lightning-combobox name="appointmentTypePicklist" label="Sales Appointment Type" value={salesAppointment.SalesAppointmentType} 
                            options={appointmentTypeOptions} onchange={handleTypeChange}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-5" style="padding: 1rem;">
                        <lightning-combobox name="Salesperson" label="Sales Manager" placeholder="Select Sale Manager"
                            options={saleManagers} value={salesAppointment.PrimaryResource} onchange={handlePrimaryResourceChange}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-5" style="padding: 1rem;">
                        <lightning-combobox name="Sale Manager" label="Sales Person" placeholder="Select Salesperson"
                            options={salespersons} value={salesAppointment.SecondaryResource} onchange={handleSecondaryResourceChange}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-5" style="padding: 1rem;"> 
                        <lightning-input type="date" name="prefDate" label="Preferred Date" value={preferredDate} min={today} 
                            onchange={handleDateChange}></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-5" style="padding: 1rem;">
                        <lightning-combobox name="AMPM" value={period} label="Time of Day" placeholder="Day Period"
                                options={optionsAmPm}  class="input" onchange={handleDayPeriodChange}></lightning-combobox>
                    </div>
                </div>
            </div>
    
            <div style="margin: auto; width: 90%;">
                <div style="font-weight: bold; font-size: medium;">
                    Availability Calendar
                    <hr style="margin: 2px">
                </div>
        
                <div if:false={isProcesss}>
                    <div if:true={isTimeslotsPrepared} style="padding-top: 0.5rem;">
                        <div class="slds-grid slds-wrap" style="margin: auto; width: 90%; text-align: center;">
                            <template for:each={advisorTimslots} for:item="daySlots" for:index="dayIndex">
                                <div key={daySlots.date} class="slds-col slds-size_1-of-3">
                                    <div style="font-size: large; font-weight: bolder; padding-top: 0.2rem">
                                        {daySlots.date}
                                    </div> 
                                    <div style="padding-top: 0.2rem;">
                                        <template for:each={daySlots.slots} for:item="slot" for:index="index">
                                            <div key={slot.index}>
                                                <button class={slot.class} onclick={handleTimeslotSelect} disabled={slot.isDisabled}
                                                    data-res-id={slot.resId} data-index={index} data-dayindex={dayIndex} data-ampm={slot.ampm}>
                                                    {slot.label}
                                                </button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div if:true={isConfirmationStep}>
            <div>
                <div style="font-weight: bold; font-size: medium; width: 90%; margin: auto">
                    Confirm Scheduling
                    <hr style="margin: 2px">
                </div>

                <div style="margin: auto; width: 70%; padding-top: 1rem;">
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Created By:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{currentUserName}</div>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Type:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{salesAppointment.SalesAppointmentType}</div>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Salesperson:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{primaryResourceName}</div>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Sales Manager:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{secondaryResourceName}</div>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Appointment Date/Time:</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{scheduledTimeslot.FormattedDate}</div>
                        </div>
                    </div>
                    <!-- <div if:true={preparedAppointment.address} class="slds-grid slds-gutters" style="margin: 5px">
                        <div class="slds-col slds-size_5-of-12" style="text-align: right">
                            <div>Address</div>
                        </div>
                        <div class="slds-col slds-size_7-of-12" >
                            <div>{preparedAppointment.address}</div>
                        </div>
                    </div> -->
                </div>
            

                <div style="margin: auto; width: 90%">
                    <div style="font-weight: bold; font-size: medium;">
                        Email confirmation
                        <hr style="margin: 2px">
                    </div>
        
                    <div if:true={isTemplateReady}>
                        <lightning-input type="checkbox" label="Do Not Send Email" name="donotsendemail" value={salesAppointment.OptOutOfConfirmation} 
                            onchange={handleDoNotSendChange}></lightning-input>
        
                        <div >
                            <div class="slds-grid slds-gutters" style="margin: 5px">
                                <div class="slds-col slds-size_1-of-10" >
                                    <div style="margin-top: 10%">TO:</div>
                                </div>
                                <div class="slds-col slds-size_7-of-10" >
                                    <lightning-formatted-text value={relatedAccount.PersonEmail} ></lightning-formatted-text>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters" style="margin: 5px">
                                <div class="slds-col slds-size_1-of-10" >
                                    <div style="margin-top: 10%">CC:</div>
                                </div>
                                <div class="slds-col slds-size_7-of-10" >
                                    <lightning-input type="email" label="CC:" variant="label-hidden" value={ccEmail} onchange={handleCCInput} disabled={salesAppointment.OptOutOfConfirmation}></lightning-input>
                                </div>
                                <div class="slds-col slds-size_2-of-10" >
                                    <lightning-button label=Add variant="brand" onclick={handleAddCC} disabled={salesAppointment.OptOutOfConfirmation}></lightning-button>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters" style="margin: 5px">
                                <div class="slds-col slds-size_1-of-10" ></div>
                                <div class="slds-col slds-size_7-of-10" style="width: fit-content;">
                                    <template for:each={ccEmailList} for:item="email" for:index="index">
                                        <lightning-pill key={email} label={email} data-index={index} onremove={handleRemoveCC}></lightning-pill>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_2-of-10" ></div>
                            </div>
                        </div>
                        
                        
                        <!-- <h1>Additional Comments</h1>
                        <lightning-textarea name="input1" variant="label-hidden" value={comment} onchange={handleCommentInput} disabled={salesAppointment.OptOutOfConfirmation}>
                            </lightning-textarea> -->
        
                        <!-- <lightning-formatted-rich-text value={templateHTML}></lightning-formatted-rich-text> -->
                    </div>
        
                    <div if:false={isTemplateReady}>
                        Email Template is not found. Confirmation email cannot be sent.
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-card__footer slds-grid">
            <div if:true={isConfirmationStep}>
                <lightning-button class="slds-col slds-text-align_left" label='Previous'
                    variant="neutral" onclick={handlePrevious}></lightning-button>
            </div>
            <div class="slds-col slds-col_bump-left slds-text-align_right">
                <div class="slds-button-group">
                    <lightning-button label="Next" variant="brand" disabled={disableNextButton} onclick={handleNext}></lightning-button>
                </div>
            </div>
        </div>
    </div>
    <div if:true={isCreatedSuccessfully}>
        <div style="text-align: center; font-size: large; padding: 10%;">
            <div >
                <button class="slds-button" onclick={viewRecord} style="color: cornflowerblue">Sales Appointment</button> was successfully scheduled!
            </div>
            <div>
                <lightning-button variant="brand" label="Close" onclick={handleClose} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
    </div>
</template>