<template>
    <div class="slds-grid slds-gutters">
        <template if:true={isAlreadyAssigned}>
            <div class="slds-col  slds-border_right">
                <span>Assigned resource: </span>
                <lightning-record-edit-form record-id={prevResourceId} object-api-name="ServiceResource">
                    <lightning-messages>
                    </lightning-messages>
                    <lightning-output-field field-name="Name"></lightning-output-field>
                    <lightning-output-field field-name="DefaultAdvisorTime__c"></lightning-output-field>
                </lightning-record-edit-form>
            </div>
        </template>
        <div class="slds-col">
            <span>Up system's resource:</span>
            <lightning-record-edit-form record-id={resourceId} object-api-name="ServiceResource">
                <lightning-messages>
                </lightning-messages>
                <lightning-output-field field-name="Name"></lightning-output-field>
                <lightning-output-field field-name="DefaultAdvisorTime__c"></lightning-output-field>
            </lightning-record-edit-form>
            <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update" label="Assign"
                onclick={handleSuccess}>
            </lightning-button>
        </div>
    </div>
</template>