<template>
    <c-custom-toast></c-custom-toast>

    <template if:false={isLoaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <div>
        <div class="slds-box slds-wrap slds-grid main-div">
            <p class="slds-m-bottom_medium slds-size_1-of-1">
                Service Advisor: {resourceName}
            </p>

            <template for:each={slotsByDays} key={slots} for:item="slots" for:index="index">
                <div class={daysColumnsClass} key={slots}>
                    <c-ssrm-slots-day
                        slots={slots}
                        hour-options={hourOptions}
                        minute-options={minuteOptions}
                        index={index}
                        days={days}
                        context={context}
                        key={slots}
                        onshowtoast={showToast}
                        onslotchange={updateSlot}>
                    </c-ssrm-slots-day>
                </div>
            </template>
        </div>

        <div class="slds-wrap slds-grid slds-box slds-p-horizontsl_small slds-m-top_medium bottom-section">
            <button class="slds-button slds-button_brand slds-float_right slds-m-right_xx-large" disabled={isSubmitDisabled} onclick={handleSave}>Save</button>
            <button class="slds-button slds-button_neutral slds-float_right slds-m-right_small" onclick={handleCancel}>Cancel</button>
        </div>
    </div>
</template>