.main-div {
    margin: 1rem auto 80px;
    min-width: 200px;
}

.bottom-section {
    position: fixed;
    display: block;
    margin: auto;
    bottom: 0;
    background-color: #fff;
    width: calc(100% - 3em);
}