<template>
    <section class="slds-notification" style="width: auto;" onclick={openMessage}> 
        <div class="slds-notification__body">
            <a class="slds-notification__target slds-media">
                <span class="slds-icon_container" style="margin-right: 0.5rem;" title="email">
                    <lightning-icon icon-name="standard:email" alternative-text="Email" title="Email"></lightning-icon>
                </span>
                
                <div class="slds-media__body">
                    <h2 class="slds-text-heading_small slds-m-bottom_xx-small">
                        {subject}
                    </h2>
                    <p>From: {from}</p>
                    <p>Date: {date}</p>
                </div>
            </a>
        </div>
    </section>
</template>