<template>
  <template if:true={isModalOpen}>
    <c-queue-settings-modal onmodal={handleModal} queue={queue}></c-queue-settings-modal>
  </template>
  <div class="slds-card slds-card_boundary slds-border_top slds-border_bottom">
    <div class="slds-page-header">
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-opportunity">
                <lightning-icon icon-name="custom:custom103"> </lightning-icon>
              </span>
            </div>
            <div class="slds-media__body">
              <div class="slds-page-header__name">
                <div class="slds-page-header__name-title">
                  <h1>
                    <span>{numberOfResources}</span>
                    <span class="slds-page-header__title slds-truncate"
                      title="Recently Viewed">{queue.name}({queue.formattedStartTime}-{queue.formattedEndTime})</span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-page-header__col-actions">
          <div class="slds-page-header__controls">
            <div class="slds-page-header__control">
              <template if:false={queue.isExpired}>
                <ul class="slds-button-group-list">
                  <li>
                    <button class="slds-button slds-button_neutral" onclick={handleEditModal} disabled={isNotManager}>Edit</button>
                  </li>
                  <li>
                    <button class="slds-button slds-button_neutral" onclick={closeQueue} disabled={isNotManager}>
                      Close
                    </button>
                  </li>
                </ul>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-meta">
          <p class="slds-page-header__meta-text">Up Time:{queue.upTime}(min)</p>
        </div>
      </div>
    </div>
    <template if:false={queue.isExpired}>
      <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-tree slds-table_tree" role="treegrid" ondrop={drop} ondragover={allowDrop}>
        <template if:false={isEmpty}>
          <thead>
            <tr class="slds-line-height_reset">
              <th class="" scope="col">
                <div class="slds-truncate" title="Position in queu"></div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Resource name">Resource name</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Entered Queue">Entered Queue</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Status">Status</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Up Time (min)">Up Time (min)</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Up Time re-set">Up Time re-set</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Start Time">Start Time</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="End Time">End Time</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="With Guest Time (min)">
                  With Guest Time (min)
                </div>
              </th>
              <!-- <th class="" scope="col">
                <div class="slds-truncate" title="Total Time (min)">
                  Total Time (min)
                </div>
              </th> -->
                <th class="" scope="col">
                  <div class="slds-truncate" title="Actions">Actions</div>
                </th>
            </tr>
          </thead>
          <tbody id={queue.id}>
            <template for:each={rows} for:item="row">
              <tr class="slds-hint-parent main-record-container" key={row.id} aria-expanded="true" aria-level="1" aria-posinset="2" aria-selected="false" aria-setsize="4">
                <th data-label="Position in queu" scope="row">
                  <div class="slds-truncate" title="position">{row.position}</div>
                </th>
                <td data-label="Resource name">
                  <div>
                      <div class="slds-truncate" title="Resource name" style="display:inline;"> <span class="slds-avatar slds-avatar_circle"
                          style="margin: 0.2rem; margin-inline-end: 0.5rem;">
                          <img alt="Person name" src={row.pictureUrl} title="Person name" />
                        </span>{row.name}</div>
                  </div>
                </td>
                <td data-label="Entered Queue">
                  <template if:true={row.onBreak}>
                    -
                  </template>
                  <template if:false={row.onBreak}>
                    {row.enteredQueue}
                  </template>
                </td>
                <td data-label="Status">
                  <div class="slds-truncate" title="Status">{row.status}</div>
                </td>
                <td data-label="Up Time (min)">
                  <div class="slds-truncate" title="Up Time (min)">
                    <template if:true={row.displayUpTime}>
                      {row.upTime}
                    </template>
                    <template if:false={row.displayUpTime}>
                       -
                    </template>
                  </div>
                </td>
                <td data-label="Up Time re-set">
                  <div class="slds-truncate" title="Up Time re-set">
                    <template if:true={row.displayUpTime}>
                      {row.inQueueUpTime}
                    </template>
                    <template if:false={row.displayUpTime}>
                       -
                    </template>
                  </div>
                </td>
                <td data-label="Start Time">
                  <div class="slds-truncate" title="Start Time">
                    {row.startTime}
                  </div>
                </td>
                <td data-label="End Time">
                  <div class="slds-truncate" title="End Time">{row.endTime}</div>
                </td>
                <td data-label="With Guest Time (min)">
                  <div class="slds-truncate" title=" With Guest Time (min)">
                    <template if:true={row.withGuest}>
                      {row.elapsedTime}
                    </template>
                    <template if:false={row.withGuest}>
                       -
                    </template>
                  </div>
                </td>
                <!-- <td data-label="Total Time (min)">
                  <div class="slds-truncate" title="Total Time (min)">
                    {row.totalTime}
                  </div>
                </td> -->
                  <td data-label="Actions">
                    <div class="slds-truncate" title="Actions">
                      <template for:each={row.actions} for:item="action">
                        <button class="slds-button slds-button_neutral" key={action.title} data-type={action.type}
                          disabled={action.disabled} data-rowid={row.id} data-rowposition={row.position}
                          onclick={handleAction}>
                          {action.title}
                        </button>
                      </template>
                    </div>
                  </td>
              </tr>
              <!--test-->
              <template if:true={row.havePairedRecords}>
                <template for:each={row.paired} for:item="paired">
                  <tr class="slds-hint-parent paired-record-container" aria-level="2" aria-posinset="1" aria-selected="false" aria-setsize="1" key={paired.id}>
                    <th data-label="Position in queu" scope="row">
                      <div class="slds-truncate" title="position">
                        <div class="slds-truncate" title="position">{row.position}</div>
                      </div>
                    </th>
                    <td  class="slds-tree__item" data-label="Resource name">
                      <div class="slds-truncate" title="Resource name"> <span class="slds-avatar slds-avatar_circle"
                          style="margin: 0.2rem; margin-inline-end: 0.5rem;">
                          <img alt="Person name" src={paired.pictureUrl} title="Person name" />
                        </span>{paired.name}</div>
                    </td>
                    <td data-label="Entered Queue">
                    </td>
                    <td data-label="Status">
                    </td>
                    <td data-label="Up Time (min)">
                    </td>
                    <td data-label="Up Time re-set">
                    </td>
                    <td data-label="Start Time">
                    </td>
                    <td data-label="End Time">
                    </td>
                    <td data-label="With Guest Time (min)">
                    </td>
                    <!-- <td data-label="Total Time (min)"></td> -->
                    <td data-label="Actions">
                      <button class="slds-button slds-button_neutral" data-type="UnPair"
                              data-rowid={row.id} data-pairid={paired.id} onclick={handleUnPair}>
                      UnPair
                    </button>
                    </td>
                  </tr>
                </template>
              </template>
              <!--test-->
            </template>
          </tbody>
        </template>
        <template if:true={isEmpty}>
          <br />
          <h2 class="slds-text-heading_small" style="text-align: center">
            This queue is empty, drag resources from Resources pool to add it in queue.
          </h2>
          <br />
        </template>
      </table>
    </template>
    <template if:true={queue.isExpired}>
      <br />
      <h2 class="slds-text-heading_small" style="text-align: center">
        This queue is expired.
        <template if:true={isManager}>
          <a onclick={deleteQueue}>Click to delete</a>
        </template>
      </h2>
      <br />
    </template>
  </div>
  <br />
</template>