<template>
    <template if:false={isLoaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <div>
        <template for:each={messages} for:item="message">
            <div key = {message.id}>
                <c-email-notification-component message = {message}>

                </c-email-notification-component>
            </div>
            
        </template>
    </div>
</template>