<template>
    <div class="slds-form-element__control">
        <div class={getContainerClass}>
            <div class={getDropdownClass} aria-expanded={isExpanded} aria-haspopup="listbox" role="combobox">
                <lightning-input
                name="enter-search"
                label={label}
                type="search"
                onchange={handleInput}
                onfocus={handleFocus}
                onblur={handleBlur}
            ></lightning-input>
                <div role="listbox" onclick={handleComboboxClick}>
                    <ul class={getListboxClass} role="presentation">
                        <template for:each={searchResults} for:item="result">
                            <li key={result.id} role="presentation" class="slds-listbox__item">
                                <span class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option"
                                        onclick={handleResultClick} data-recordid={result.id}>
                                    <span class="slds-media__figure">
                                        <lightning-icon class="result-icon" icon-name={icon} size="small" alternative-text="Result item icon"></lightning-icon>
                                    </span>
                                    <span class="slds-media__body">
                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity search-name">{result.name}</span>
                                    </span>
                                </span>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>