<template>
    <div style="margin-top: 0.55rem; margin-left: 0.5rem;">
        <lightning-formatted-rich-text
            value={iconTag}
        ></lightning-formatted-rich-text>
    </div>
</template>