<template>
    <div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-12"></div>
            <div class="slds-col slds-size_10-of-12">
                <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium"> 
                    Requested Service(s)
                </div>
            </div>
            <div class="slds-col slds-size_1-of-12">
                <div if:true={isDeclined}>
                    <div style="position: relative;">
                        <lightning-button-icon icon-name="utility:notification"  variant="error" 
                        onclick={showStartPop} ></lightning-button-icon>
                        <div style="left: 1.25rem;
                            top: 1.25rem;
                            position: absolute;
                            background-color: #ffffff;
                            border: 3px solid #706e6b;
                            border-radius: 25px;
                            font-size: x-small;
                            height: 1.25rem;
                            width: 1.25rem;">
                            <div style="text-align: center;">{declinedServOptionsSize}</div>
                        </div>
                    </div>
                    
                    <template if:true={showStartPopOver}>
                        <section aria-label="Dialog title" aria-describedby="popover-body-id" class="slds-popover slds-nubbin_right-top" role="dialog" style="position: absolute;right: 7.5%;">
                            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog" onclick={closeStartPop}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" size="x-small"></lightning-icon>
                                <span class="slds-assistive-text">Close dialog</span>
                            </button>
                            <div id="popover-body-id" class="slds-popover__body">
                                Declined Services
                                <div style="margin-top: 0.5rem;">
                                    <template for:each={declinedServOptions} for:item="item">
                                        <div key={item.Id}>
                                            <div style="display:inline-block;">
                                                <lightning-input type="checkbox" label={item.Name} name={item.Name} checked={item.isSelected} 
                                                    data-id={item.Id} onchange={handleDiclinedServiceCheck} >
                                                </lightning-input>
                                            </div>
                                            <div style="display:inline-block; float: right;">
                                                <lightning-button-icon icon-name="utility:delete" variant="bare" alternative-text="Remove"   
                                                    class="slds-m-left_xx-small" title="Delete" onclick={handleRemove} data-id={item.Id}></lightning-button-icon>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </section>
                    </template>
                </div>
            </div>
        </div>
        
        <div class="slds-grid slds-wrap" style="margin: auto; width: 60%">
            <template for:each={workTypeOptions} for:item="item">
                <div class="slds-col slds-size_1-of-2" key={item.Id}>
                    <lightning-input type="checkbox" label={item.Name} name={item.Name} checked={item.isSelected} onchange={handleCheck}
                        data-id={item.Id}>
                    </lightning-input>
                </div>
            </template>
        </div>

        </br>

        <div class="slds-form slds-form_stacked slds-var-m-around_xx-large" style="margin: auto; width: 60%">
            <div style="width: 60%">
                <c-lookup
                    selection={initialSelection}
                    errors={errors}
                    onsearch={handleSearch}
                    onselectionchange={handleSelectionChange}
                    placeholder="Search Op-Code"
                    is-multi-entry
                    pills-disabled
                ></c-lookup>
            </div>
        </div>
    </div>

    <div>
        <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium"> 
            Selected Service(s)
        </div>

        <div if:false={isSelected} class="slds-text-align_center">
            No services selected
        </div>

        <div if:true={isSelected} style="margin: auto; width: 80%">
            <lightning-datatable
                hide-checkbox-column
                key-field="id"
                data={initialSelection}
                columns={columns}
                onrowaction={handleRowActions}>
            </lightning-datatable>
            </br>
            <!-- <div>
                Duration = {duration}
            </div> -->
        </div>
    </div>
</template>