<template>
    <template if:true={bigPicture}>
        <c-chrome-decoder-component-image-modal onclosemodal={closeBitPicture} image={image}></c-chrome-decoder-component-image-modal>
    </template>
    <lightning-card>
        <div class="main-container">
            <template if:true={loading}>
                <div class="loadin-spinner">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                </div>
            </template>
            <template if:false={loading}>
                <template if:true={isError}>
                    <div class="message-error slds-text-body_regular">
                        {errorMessage}
                    </div>
                </template>
                <template if:true={isInfoReceived}>
                    <div class="info-container">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input type="text" disabled name="inputModel" label="Year" value={year} ></lightning-input>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input type="text" disabled name="inputVIN" label="VIN" value={vin} ></lightning-input>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input type="text" disabled name="inputModel" label="Model" value={model} ></lightning-input>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input type="text" disabled name="inputMake" label="Make" value={make} ></lightning-input>
                            </div>
                        </div>
                    </div>
                        <template if:true={haveImages}>
                            <div class="preview-message slds-text-heading_medium">
                                Images preview
                            </div>
                            <div class="image-container">
                                <a class="arrow arrow-left" role="button" onclick={moveLeft}></a>
                                <span><img src={image} onclick={openPicture}></span>
                                <a class="arrow arrow-right" role="button" onclick={moveRight}></a>
                            </div>
                        </template>
                </template>
                <!-- <div class="button-save">
                    <lightning-button label="Save on object" title="Non-primary action" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
                </div> -->
            </template>
        </div>
    </lightning-card>
</template>