.loadin-spinner{
    position: relative;
    height: 10rem;
}

img{
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.main-container{
    padding: .2rem 1rem .2rem 1rem;
}

.message-error{
    text-align: center;
    font-size: 1.5rem;
    color: red;
    margin-top: 4rem;
}

.button-save{
    margin-top: 2rem;
    margin-bottom: .8rem;
}   

.image-container{
    margin:0.9rem;
    position: relative;
    transition: all;
    display: flex;
    justify-content: center;
}

.arrow {
    margin: 15% 1rem 0 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
  }

 .arrow-right {
    border-left: 15px solid #000;
    right: 0;
  }

.arrow-right:hover {
    border-left: 15px solid rgb(119, 117, 117);
}
  
.arrow-left {
    border-right: 15px solid #000; 
    left: 0;
}

.arrow-left:hover {
    border-right: 15px solid rgb(119, 117, 117);
}

.preview-message {
    margin-top: 1rem;
    text-align: center;
}