<template>
    <div class="formTitle">
        <div class="slds-grid slds-gutters">
            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                {componentLabel}
            </div>
            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                <lightning-button variant="base" icon-name="utility:delete" onclick={handleClearing}></lightning-button>
            </div>
        </div>
    </div>

    <lightning-input data-fieldname="Name__c" name="name" type="text" label="Employer" value={name} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Position__c" name="position" type="text" label="Position" value={position} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Phone__c" name="phone" type="tel" label="Phone" value={phone} max-length="25" onblur={handleValueChange}></lightning-input>
    <!-- <lightning-input data-fieldname="Badge_Number__c" name="badgeNum" type="text" label="Badge #" value={badgeNum} max-length="255" onblur={handleValueChange}></lightning-input> -->
    <lightning-input data-fieldname="Address_1__c" name="address1" type="text" label="Address 1" value={address1} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Address_2__c" name="address2" type="text" label="Address 2" value={address2} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="City__c" name="city" type="text" label="City" value={city} max-length="255" onblur={handleValueChange}></lightning-input>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-combobox data-fieldname="State__c" name="state" label="State" value={state} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Zipcode__c" name="zipcode" type="text" label="Zipcode" value={zipcode} max-length="255" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
    <lightning-combobox data-fieldname="Country__c" name="country" label="Country" value={country} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Years__c" name="years" type="number" label="Years" value={years} max-length="18" onblur={handleValueChange}></lightning-input>
            </span>
            </div>
            <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Months__c" name="months" type="number" label="Months" value={months} max-length="18" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
</template>