<template>
    <div class="tabTitle">
        {role}
    </div>

    <div class="formTitle">
        Place of Residence
    </div>

    <lightning-combobox data-fieldname="Residence_Type__c" label="Type" options={typePicklistOptions} 
        value={residenceType} onchange={handleValueChange}></lightning-combobox>
    <br/>
    <div class="formTitle">
        Personal Information
    </div>

    <lightning-radio-group data-fieldname="Property_Repossessed__c"  label="Has this client ever had any property reposessed?" 
        options={options} value={propertyRepossessed} type="radio" onchange={handleValueChange}></lightning-radio-group>
    <lightning-radio-group data-fieldname="Lawsuit_s_Pending__c"  label="Does this client have any pending lawsuits or judgements against them?"
        options={options} value={lawsuitsPending} type="radio" onchange={handleValueChange}></lightning-radio-group>
    <lightning-radio-group data-fieldname="Bankruptcy_Filed__c"  label="Has this client ever filed, or is currently filing for bankruptcy?" 
        options={options} value={bankruptcyFiled} type="radio" onchange={handleValueChange}></lightning-radio-group>
    <lightning-radio-group data-fieldname="Military_Reserve__c"  label="Is this client in the Military Reserves?" 
        options={options} value={militaryReserve} type="radio" onchange={handleValueChange}></lightning-radio-group>
</template>