<template>
    <!-- <div if:true={isError} class="slds-notify slds-notify_alert slds-alert_error" role="alert">
        <span class="slds-assistive-text">error</span>
        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small">
            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
            </svg>
        </span>
        <h2>{errorMessage}</h2>
    </div> -->

    <!-- <div if:true={isVinExist}>
        <lightning-button variant="brand" label={requestLinkLabel} onclick={getLink}></lightning-button>
    </div> -->

    <div if:true={isVehicleExist}>
        <div>
            <lightning-button variant="brand" label={requestLinkLabel} onclick={getLink}></lightning-button>
        </div>
    
        <div if:true={isLinkExist} style="display: flex; width: 100%;">
            <div class="slds-form-element" style="width: 70%; ">
                <div class="slds-form-element__control">
                    <input class="slds-input" style="text-overflow: ellipsis" type="text" id="text-input-id-1" readonly="" placeholder="" value={link} />
                </div>
            </div>
    
            <lightning-button variant="brand" label="Copy To Clipboard" onclick={copyToClipboard}></lightning-button>
        </div>
    </div>
    
</template>