<template>
    <div class="slds-card slds-card slds-card_boundary headerBottomBorder forceRelatedListCardDesktop">
        <template if:false={loaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
        <div
                class="slds-page-header slds-page-header_joined slds-page-header_bleed slds-shrink-none test-headerRegion slds-is-relative slds-page-header--object-home">
            <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate firstHeaderRow">
                    <div class="slds-media slds-no-space slds-grow">
                        <span class="record-avatar-container slds-avatar slds-avatar_small icon slds-m-right_small">
                            <lightning-icon icon-name="standard:work_order"></lightning-icon>
                        </span>
                        <div class="slds-media__body slds-align-middle">
                            <h2 class="slds-card__header-title">
                                <span class="slds-truncate slds-m-right--xx-small">
                                    <b>{title} ({numberOfServiceAppointment})</b>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small ">
                    <p style="padding-right: 0.5rem; padding-top: 0.47rem;">On page limit</p>
                    <div style="width: 5rem">
                        <lightning-combobox name="limit" label="On page limit" value={value} placeholder={value}
                                            variant="label-hidden" options={options} onchange={handleChange}></lightning-combobox>
                    </div>
                    <lightning-button variant="Neutral" label="New" title="New" onclick={handleClickNew} class="slds-m-left_x-small"></lightning-button>
                </div>
            </div>
            <div class="slds-grid">
                <div class="slds-col slds-align-bottom">
                    <div aria-live="polite">
                        <p class="slds-text-body--small"> <span class="countSortedByFilteredBy">Displaying {value}
                                records on page </span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <lightning-datatable hide-checkbox-column key-field="Id" data={data} columns={columns}
                                 sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} show-row-number-column>
            </lightning-datatable>
        </div>

        <div style="text-align:center">
            <lightning-button variant="base" label="Prev" title="Looks like a link" onclick={handlePrev}
                              class="slds-m-left_x-small" disabled={isFirst}></lightning-button>
            &nbsp; <input id="pageNumber" min=1 max={numberOfPages} step=1 type="number" value={currentPage} onchange={handlePageChange} disabled={isNoPages}> of {numberOfPages}
            <lightning-button variant="base" label="Next" title="Looks like a link" onclick={handleNext}
                              class="slds-m-left_x-small" disabled={isLast}></lightning-button>
        </div>
    </div>
</template>