<template>
    <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
        Transportation
    </div>

    <div class="slds-text-align_center" style="margin: auto; width: auto">
        <fieldset class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-radio_button-group">
                    <!-- <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="rental-radio-button-id" value="Rental"
                            disabled={rentalDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="rental-radio-button-id">
                            <span class="slds-radio_faux">Rental</span>
                        </label>
                    </span> -->
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="dropoff-radio-button-id" value="Drop-Off"
                            disabled={dropoffDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="dropoff-radio-button-id">
                            <span class="slds-radio_faux">Drop-Off</span>
                        </label>
                    </span>
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="shuttle-radio-button-id" value="Shuttle"
                            disabled={shuttleDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="shuttle-radio-button-id">
                            <span class="slds-radio_faux">Shuttle</span>
                        </label>
                    </span>
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="rideshare-radio-button-id" value="Rideshare"
                            disabled={rideshareDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="rideshare-radio-button-id">
                            <span class="slds-radio_faux">Rideshare</span>
                        </label>
                    </span>
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="loaner-radio-button-id" value="Loaner"
                            disabled={loanerDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="loaner-radio-button-id">
                            <span class="slds-radio_faux">Loaner</span>
                        </label>
                    </span>
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="wait-radio-button-id" value="Wait"
                            disabled={disableAll} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="wait-radio-button-id">
                            <span class="slds-radio_faux">Waiter</span>
                        </label>
                    </span>
                    <span class="slds-button slds-radio_button">
                        <input type="radio" name="transportation-radio-button" id="pickup-radio-button-id" value="Pickup & Delivery"
                            disabled={pickupAndDeliveryDisabled} onclick={handleRadioClick} />
                        <label class="slds-radio_button__label" for="pickup-radio-button-id">
                            <span class="slds-radio_faux">Pickup & Delivery</span>
                        </label>
                    </span>
                    <!-- <span class="slds-button slds-radio_button">
                        <input type="radio" name="express-radio-button" id="express-radio-button-id" value="Express"
                            disabled={expressDisabled} onclick={handleExpressClick} />
                        <label class="slds-radio_button__label" for="express-radio-button-id">
                            <span class="slds-radio_faux">Waiter</span>
                        </label>
                    </span> -->
                </div>
            </div>
        </fieldset>
    </div>
    
    <div if:true={showPickupSection} style="margin: auto; width: 60%">
        </br>
        <div style="margin: 5px">
            <lightning-input data-apiname="PickupStreet" name="pickupStreet" value={pickupAddress.PickupStreet} max-length="255" placeholder="Street"
                onchange={handlePickupAddressChange} variant="label-hidden">
            </lightning-input>
        </div>
        <div style="margin: 5px">
            <lightning-input data-apiname="PickupCity" name="pickupCity" value={pickupAddress.PickupCity} max-length="255" placeholder="City"
                onchange={handlePickupAddressChange} variant="label-hidden">
            </lightning-input>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-3">
                <div style="padding-left: 5px; padding-right: 5px;">
                    <lightning-input data-apiname="PickupState" name="pickupState" value={pickupAddress.PickupState} max-length="255" placeholder="State"
                        onchange={handlePickupAddressChange} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
            <div class="slds-col slds-size_2-of-3">
                <div style="padding-left: 5px; padding-right: 5px;">
                    <lightning-input data-apiname="PickupZIP" name="pickupZIP" value={pickupAddress.PickupZIP} max-length="255" placeholder="ZIP"
                        onchange={handlePickupAddressChange} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
        <div style="margin: 5px">
            <lightning-input data-apiname="PickupAddressComments" name="pickupComment" value={pickupAddress.PickupComment} max-length="255" placeholder="Comments"
                onchange={handlePickupAddressChange} variant="label-hidden">
            </lightning-input>
        </div>
        <div style="margin: 5px">
            <lightning-combobox data-apiname="PickupTransportationRequest" name="pickupTransportationRequest" value={pickupAddress.PickupTransportationRequest}
                options={PUDTransportationRequestOptions} onchange={handlePickupAddressChange} 
                variant="label-hidden" dropdown-alignment="bottom-left">
            </lightning-combobox>
        </div>
        
    </div>

    <div class="slds-form-element" if:true={showLoanerRequestCheckbox} style="margin-left: auto; margin-right: auto; width: 60%; margin-top: 1rem;">
        <div class="slds-form-element__control">
          <div class="slds-checkbox">
            <input type="checkbox" name="options" id="checkbox-request-loaner" value={requestLoaner} checked={requestLoaner} onchange={handleLoanerRequestChange}/>
                <label class="slds-checkbox__label" for="checkbox-request-loaner">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label">Request Manager Approval for Loaner</span>
                </label>
            </div>
        </div>
    </div>
</template>