<template>
    <div class="slds-card">
        <div id="header" class="slds-card_header">
            <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
                <slot name="header">
                    {header}
                    </br>
                    <div style="font-size: smaller;">
                        {subtitle} 
                        <div if:true={authContactName} style="display: inline-block;">&nbsp;(A:{authContactName})</div>
                        <div>{dealer}</div>
                        <div>{selectedVehName}</div>
                    </div>
                </slot>
            </div>
            <lightning-progress-indicator type={progressIndicatorType} has-error={hasError}
                variant={progressIndicatorVariant} current-step={currentStep}>
                <template for:each={flow} for:item="step">
                    <lightning-progress-step key={step.name} label={step.label} value={step.name}></lightning-progress-step>
                </template>
            </lightning-progress-indicator>

            <template if:true={hasError}>
                <div class="slds-container_fluid slds-theme_error">
                    <span>{_errorMessages}</span>
                </div>
            </template>
        </div>
        <hr style="margin: 10px">
        <slot onslotchange={slotChange} onstepregistered={registerStep}></slot>
    </div>
</template>