<template>
    <div class="tabTitle" style="text-align: center; background-color: #e0e0e0">
        {role}
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="First_Name__c" type="text" label="First Name" value={firstName} max-length="255" onblur={handleValueChange}></lightning-input>
                <lightning-input data-fieldname="Middle_Name__c" type="text" label="Middle Name" value={middleName} max-length="255" onblur={handleValueChange}></lightning-input>
                <lightning-input data-fieldname="Last_Name__c" type="text" label="Last Name" value={lastName} max-length="255" onblur={handleValueChange}></lightning-input>
                <lightning-input data-fieldname="Home_Phone__c" type="tel" label="Home Phone" value={homePhone} max-length="25" onblur={handleValueChange}></lightning-input>
                <lightning-input data-fieldname="Email_Address__c" type="email" label="Email Address" value={emailAddress} max-length="100" onblur={handleValueChange}></lightning-input>
                <!-- <lightning-combobox data-fieldname="Education_Level__c" name="educationLevelPicklist" label="Education Level" options={educationLevelPicklistOptions} onblur={handleValueChange}>
                </lightning-combobox> -->
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <!-- <lightning-input data-fieldname="Number_of_Dependents__c" type="number" label="# of Dependents" value={numOfDependents} max-length="2" onblur={handleValueChange}></lightning-input> -->
                <lightning-input data-fieldname="Date_of_Birth__c" type="date" label="Date of Birth" value={dateOfBirth} onchange={handleValueChange}></lightning-input>
                <lightning-input data-fieldname="Driver_Licnese_Number__c" type="text" label="Driver License #" value={driverLicenseNum} max-length="255" onblur={handleValueChange}></lightning-input>
                <div class="slds-grid slds-gutters">
                    <div class="slds-col">
                        <span>
                            <lightning-combobox data-fieldname="Driver_Licnese_State__c" name="statePicklist" label="State" options={driverLicenseStatePicklistOptions} onchange={handleValueChange}>
                            </lightning-combobox>
                        </span>
                    </div>
                    <div class="slds-col">
                        <span>
                            <lightning-input data-fieldname="Driver_License_Country__c" type="text" label="Country" value={country} max-length="255" onblur={handleValueChange}></lightning-input>
                        </span>
                    </div>
                </div>
                <lightning-input data-fieldname="SSN_Number__c" type="text" label="SSN #" value={ssnNum} max-length="9" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
</template>