<template>
    <div class="">
        <lightning-card  title="Message Board" >
            <lightning-button label="Add New Post" slot="actions" onclick={handlePopup}></lightning-button>

        <template for:each={data} for:item="message">
            <div class="slds-m-around_medium row" key={message.Id}>
                <li class="slds-text-body_regular">{message.Body__c}</li>
            </div>
        </template>
        </lightning-card>
    </div>
    <template if:true={editMode}>
    <div class="chart slds-m-around_medium" lwc:dom="manual"></div>
    <section
      id="modal"
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close" onclick={closePopup}>
          <lightning-icon icon-name="utility:close" size="medium" variant="inverse"></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
           Post New Message
          </h2>
        </header>
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <div class="slds-p-bottom_large slds-p-left_large" style="width:500px">
            <lightning-record-edit-form
              object-api-name="Message_Board_Post__c"
              onsuccess={handleSuccess}
            >
              <lightning-messages></lightning-messages>
            <p>
            <lightning-input-field id="Body" field-name="Body__c" required></lightning-input-field>
            </p>
            <lightning-input-field type="date" field-name="Start_Date__c" label="Start Date" required ></lightning-input-field>
            </p>
            <lightning-input-field type="date" field-name="End_Date__c" label="End Date" required></lightning-input-field>
            </p>
            <p></p>
            <lightning-button
            type="submit"
            label="Post"
            name="save"
            class="slds-m-top_medium"
            ></lightning-button>
            </lightning-record-edit-form>
            
          </div>
        </div>
        
      </div>
    </section>
    <div
      class="slds-backdrop slds-backdrop_open modalBackdrops"
      id="modalBackdrops"
    ></div>
</template>
</template>