<template>
    <lightning-card title="Deal Info" icon-name="standard:event">
        <div class="slds-box slds-theme_default slds-grid slds-wrap">
            <template for:each={dealInfo} for:item="info">
                <div key={info.fieldName}
                     class="dealInfoItem slds-form-element slds-form-element_readonly slds-col slds-hint-parent override--slds-form-element">
                    <div class="test-id__field-label-container slds-form-element__label">
                        {info.fieldName}
                    </div>
                    <div class="slds-form-element__control slds-grid itemBody test-id__field-value slds-form-element__static slds-grow">
                        {info.value}
                    </div>
                </div>
            </template>
        </div>
    </lightning-card>
</template>