<template>

    <div class="slds-grid slds-wrap" style="margin: auto; width: 90%;">
        <div class="slds-col slds-size_1-of-3" style="padding: 1rem;">
            <lightning-combobox name="advisorPicklist" label="Preferred Advisor" value={prefAdvisor} 
                options={advisorPicklistOptions} onchange={handlePrefAdvisorSelect}>
            </lightning-combobox>
        </div>
        <div class="slds-col slds-size_1-of-3" style="padding: 1rem;">
            <lightning-input type="date" name="prefDate" label="Preferred Date" value={prefDate} min={earliestStartDate} onchange={handleDateChange}></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-3" style="padding: 1rem;">
            <lightning-combobox name="AMPM" value={period} label="Time of Day" placeholder="Day Period"
                    options={optionsAmPm}  class="input" onchange={handleDayPeriodChange}></lightning-combobox>
        </div>
    </div>

    <div style="margin: auto; width: 90%;">
        <div style="font-weight: bold; font-size: medium;">
            Availability Calendar
            <hr style="margin: 2px">
        </div>

        <div if:true={isAdvisorTimslotsAvailable} style="padding-top: 0.5rem;">
            <!-- <div if:true={isAdvisorTimslotsAvailable}> -->
                <div class="slds-grid slds-wrap" style="margin: auto; width: 90%; text-align: center;">
                    <template for:each={advisorTimslots} for:item="daySlots" for:index="dayIndex">
                        <div key={daySlots.date} class="slds-col slds-size_1-of-5">
                            <div style="font-size: large; font-weight: bolder; padding-top: 0.2rem">
                                {daySlots.date}
                            </div> 
                            <div if:true={isTransportationCapacityRequired}>
                                <div style="border-top: ridge">
                                    {transportationTypeLabel} Availability:&nbsp;{daySlots.transportationAvailability}
                                </div>
                                <div if:true={isRentalTransportationAvailable}>
                                    <div >
                                        Rental Availability:&nbsp;{daySlots.rentalAvailability}
                                    </div> 
                                </div> 
                            </div>
                            <div if:true={expressRequested}>
                                Express Availability:&nbsp;{daySlots.expressAvailability}
                            </div>
                            <div style="border-bottom: ridge">
                                Daily Availability:&nbsp;{daySlots.dailyCapasity}
                            </div>
                            
                            <div style="padding-top: 0.2rem;">
                                <template for:each={daySlots.slots} for:item="slot" for:index="index">
                                    <div key={slot.index}>
                                        <button class={slot.class} onclick={handleSchedule} disabled={slot.isDisabled}
                                            data-res-id={slot.resId} data-index={index} data-dayindex={dayIndex} data-ampm={slot.ampm}>
                                            {slot.label}
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>

                <div class="slds-form-element" style="margin-left: auto; margin-right: auto; margin-top: 1rem;">
                    <div class="slds-form-element__control">
                      <div class="slds-checkbox">
                        <input type="checkbox" name="options" id="checkbox-request-loaner" value={requestLoaner} checked={requestLoaner} onchange={handleLoanerRequestChange}/>
                            <label class="slds-checkbox__label" for="checkbox-request-loaner">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Request Manager Approval for Loaner</span>
                            </label>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</template>