<template>
    <div if:false={base64} class="slds-p-around_small">
        <div class={bottomLineClass}>
            <input class="file-input" type="file" accept="image/*" capture="camera" onchange={handleFile}>
            <button class="slds-button slds-button_neutral" type="button" onclick={selectPhoto}>Add Photo</button>
            <button if:true={readyToSubmit} class="slds-button slds-button_brand" type="button" onclick={submit}>Save Notes</button>
        </div>

        <div if:false={notes.length} class="slds-text-heading_medium slds-text-align_center slds-p-top_x-small">No photos added.</div>

        <template for:each={notes} for:item="note" for:index="index">
            <div key={note.id} class="slds-card">
                <c-note note={note} removable onremove={handleRemove}></c-note>
            </div>
        </template>

        <div if:true={loading} class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </div>

<!--    <div if:true={signatureOpen} class="panel-backdrop slds-backdrop slds-backdrop_open" onclick={closeSignature}></div>-->

<!--    <div if:true={notes.length} class={signaturePanelClass} aria-hidden="false">-->
<!--        <div class="slds-panel__header">-->
<!--            <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate">-->
<!--                Add Signature-->
<!--            </h2>-->

<!--            <button-->
<!--                class="slds-button slds-button_icon slds-button_icon-small slds-panel__close"-->
<!--                title="Close Panel"-->
<!--                type="button"-->
<!--                onclick={closeSignature}-->
<!--            >-->
<!--                <svg class="slds-button__icon" aria-hidden="true">-->
<!--                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>-->
<!--                </svg>-->
<!--                <span class="slds-assistive-text">Close Panel</span>-->
<!--            </button>-->
<!--        </div>-->

<!--        <div class="slds-panel__body">-->
<!--            <c-signature-canvas if:true={signatureOpen} onsave={handleSignature}></c-signature-canvas>-->

<!--            <div class="slds-form-element slds-m-top_small">-->
<!--                <div class="slds-form-element__control">-->
<!--                    <div class="slds-checkbox">-->
<!--                        <label class="slds-checkbox__label">-->
<!--                            <input type="checkbox" checked={approved} onchange={handleApprove}>-->
<!--                            <span class="slds-checkbox_faux"></span>-->
<!--                            <span class="slds-form-element__label">I Approve</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="slds-m-top_small">-->
<!--                <button class="slds-button slds-button_brand" type="button" disabled={signatureSubmitDisabled} onclick={submit}>Submit</button>-->
<!--                <button class="slds-button slds-button_neutral" type="button" disabled={signatureClearDisabled} onclick={resetSignature}>Clear</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div if:true={base64}>
        <div class="photo-container slds-p-around_small">
            <img class="photo" src={base64} onclick={setPointer}>
            <div if:true={pointer} class="pointer-container">
                <div class="pointer" style={addNotePointerStyle}>
                    <div class="pointer-circle"></div>
                </div>
            </div>
        </div>

        <div if:true={pointer} class="panel-backdrop slds-backdrop slds-backdrop_open" onclick={resetPointer}></div>

        <div class={notePanelClass} aria-hidden="false">
            <div class="slds-panel__header">
                <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate">
                    Add a picture
                </h2>

                <button
                    class="slds-button slds-button_icon slds-button_icon-small slds-panel__close"
                    title="Close Panel"
                    type="button"
                    onclick={resetPointer}
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close Panel</span>
                </button>
            </div>

            <div class="slds-panel__body">
                <div if:false={customNote} class="slds-grid slds-wrap slds-gutters">
                    <template for:each={noteOptions} for:item="noteOption" for:index="index">
                        <div key={noteOption} class="slds-col slds-size_1-of-3 slds-p-vertical_xx-small">
                            <button class="note-button slds-button slds-button_neutral" type="button" data-index={index} onclick={addDefaultNote}>{noteOption}</button>
                        </div>
                    </template>

                    <div class="slds-col slds-size_1-of-3 slds-p-vertical_xx-small">
                        <button class="note-button slds-button slds-button_neutral" type="button" onclick={doCustomNote}>Other</button>
                    </div>
                </div>

                <div if:true={customNote} class="slds-form-element">
                    <div class="slds-form-element__control">
                        <input class="slds-input" type="text" placeholder="Custom Note" oninput={handleCustomNoteChange}>
                    </div>

                    <div class="slds-m-top_small">
                        <button class="slds-button slds-button_brand" type="button" disabled={addNoteDisabled} onclick={addCustomNote}>Submit</button>
                        <button class="slds-button slds-button_neutral" type="button" onclick={undoCustomNote}>Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>