.layout,
.notes {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.layout {
    overflow: hidden;
}

.notes {
    overflow: auto;
}

.bottom-line {
    text-align: center;
}

.file-input {
    display: none;
}

/**/

.photo-container {
    display: inline-block;
    font-size: 0;
    max-width: 100%;
    position: relative;
}

.pointer-container {
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.pointer {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
}

.pointer-circle {
    border: .25rem solid red;
    border-radius: 50%;
    display: inline-block;
    opacity: .7;
    padding-top: calc(100% - .5rem);
    width: 100%;
}

.panel-backdrop {
    cursor: pointer;
    position: fixed;
    z-index: 1000;
}

.panel {
    bottom: -3px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.25);
    height: auto;
    left: 0;
    max-height: 100%;
    position: fixed;
    transition: bottom,transform .3s ease-out;
    transform: translateY(100%);
    width: 100%;
    z-index: 1001;
}

.panel--open {
    bottom: 0;
    transform: translateY(0);
}

.note-button {
    width: 100%;
}