<template>
    <div style="margin-left: 0.5rem;">
        <lightning-formatted-url if:true={isUser} value={finalUrl} tooltip={userId} label={recordName} target="_blank" ></lightning-formatted-url>
        <div if:false={isUser}>{recordName}</div>
    </div>
</template>