.THIS .main-container {
    margin-top: 10%;
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.THIS .main-container .element {
    margin-top: 1rem;
}

.THIS .main-container .title {
    text-align: center;
    font-size: 1.5rem;
}

.THIS .main-container .error-message {
    text-align: center;
    color: red;
    margin-top: 1rem;
}

.THIS .main-container .sucess-message {
    text-align: center;
    color: rgba(159, 204, 101, 0.808);
    margin-top: 1rem;
}