<template>
    <div class="tabTitle">
        {role}
    </div>
    
    <div class="formTitle">
        Bank Accounts
    </div>
    <br/>

    <div class="slds-grid">
        <div class="slds-col slds-size_5-of-12">
            <div class="slds-grid">
                <div class="slds-col">
                    <div class="inputPaddings" style="text-align: center; font-weight: bold;">Bank Name</div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_1_Name__c" type="text" value={bankRefName1} 
                            max-length="75" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_2_Name__c" type="text" value={bankRefName2} 
                            max-length="75" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_3_Name__c" type="text" value={bankRefName3} 
                            max-length="75" onblur={handleValueChange}></lightning-input>    
                    </div>
                </div>
                <div class="slds-col">
                    <div class="inputPaddings" style="text-align: center; font-weight: bold;">Account #</div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_1_Account_Number__c" type="text" value={bankRefAccNum1} 
                            max-length="17" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_2_Account_Number__c" type="text" value={bankRefAccNum2} 
                            max-length="17" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_3_Account_Number__c" type="text" value={bankRefAccNum3} 
                            max-length="17" onblur={handleValueChange}></lightning-input>    
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_4-of-12">
            <div class="inputPaddings" style="text-align: center; font-weight: bold;">Bank Address</div>
            <div class="inputPaddings">
                <lightning-input data-fieldname="Bank_Reference_1_Address__c" type="text" value={bankRefAddress1} max-length="255" onblur={handleValueChange}></lightning-input>    
            </div>
            <div class="inputPaddings">
                <lightning-input data-fieldname="Bank_Reference_2_Address__c" type="text" value={bankRefAddress2} max-length="255" onblur={handleValueChange}></lightning-input>    
            </div>
            <div class="inputPaddings">
                <lightning-input data-fieldname="Bank_Reference_3_Address__c" type="text" value={bankRefAddress3} max-length="255" onblur={handleValueChange}></lightning-input>    
            </div>
        </div>
        <div class="slds-col slds-size_3-of-12">
            <div class="slds-grid">
                <div class="slds-col">
                    <div class="inputPaddings" style="text-align: center; font-weight: bold;">Balance</div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_1_Balance__c" type="number" value={handleValueChange} formatter="currency" 
                            step="0.01" max-length="16" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_2_Balance__c" type="number" value={handleValueChange} formatter="currency" 
                            step="0.01" max-length="16" onblur={handleValueChange}></lightning-input>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-input data-fieldname="Bank_Reference_3_Balance__c" type="number" value={handleValueChange} formatter="currency" 
                            step="0.01" max-length="16" onblur={handleValueChange}></lightning-input>
                    </div>
                </div>
                <div class="slds-col">
                    <div class="inputPaddings" style="text-align: center; font-weight: bold;">Type</div>
                    <div class="inputPaddings">
                        <lightning-combobox data-fieldname="Bank_Reference_1_Account_Type__c" value={bankRefAccType1} 
                            options={bankReferenceAccTypeOptions} onchange={handleValueChange}></lightning-combobox>    
                    </div>
                    <div class="inputPaddings">
                        <lightning-combobox data-fieldname="Bank_Reference_2_Account_Type__c" value={bankRefAccType2} 
                            options={bankReferenceAccTypeOptions} onchange={handleValueChange}></lightning-combobox>  
                    </div>
                    <div class="inputPaddings">
                        <lightning-combobox data-fieldname="Bank_Reference_3_Account_Type__c" value={bankRefAccType3} 
                            options={bankReferenceAccTypeOptions} onchange={handleValueChange}></lightning-combobox>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="formTitle">
        Vehcile Leases or Loans
    </div>
    
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-vehicle-form component-label="Vehicle 1" vehicle-type="Current_Vehicle_1_" 
                onvaluechanged={handleValueChange}></c-credit-application-vehicle-form>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-vehicle-form component-label="Vehicle 2" vehicle-type="Current_Vehicle_2_" 
                onvaluechanged={handleValueChange}></c-credit-application-vehicle-form>
        </div>
    </div>

    <br/>
    <div class="formTitle">
        Credit Accounts
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <div>
                <c-credit-application-reference-account-form form-number="1" account-type="Credit_Reference_1_" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-account-form>
            </div>
            <br/>
            <div>
                <c-credit-application-reference-account-form form-number="3" account-type="Credit_Reference_3_" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-account-form>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <div>
                <c-credit-application-reference-account-form form-number="2" account-type="Credit_Reference_2_" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-account-form>
            </div>
            <br/>
            <div>
                <c-credit-application-reference-account-form form-number="4" account-type="Credit_Reference_4_" 
                    onvaluechanged={handleValueChange}></c-credit-application-reference-account-form>
            </div>
        </div>
    </div>
</template>