.main-container {
    max-width: 80% !important;
}

.confirm-button {
    left: 90%;
    position: relative;
    margin:.5rem;
}

.label-text {
    margin-bottom: 1rem;
}

.subject-title{
    padding-left: .45rem;
}

.subject-container{
    margin-top: -1rem;
    padding-right: .2rem;
}

.select-container{
    height: 75%;
}