<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="main-container slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close"  variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                    New Action Form
                </h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium select-container" id="modal-content-id-1">
                <lightning-record-edit-form object-api-name="Action__c" onsuccess={handleSuccess}>
                    <span style="display:none;">
                        <lightning-input-field field-name="Name" required value={subject}>
                        </lightning-input-field>
                    </span>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_2-of-2">
                            <lightning-messages>
                            </lightning-messages>
                        </div>
                        <div class="slds-col slds-size_2-of-2">
                            <h3 class="label-text section-header-container slds-section__title slds-theme--shade">
                                <span class="ection-header-title section-header-title slds-p-horizontal--small slds-truncate">
                                    Information
                                </span>
                            </h3>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Type__c">
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Due_Date_Time__c">
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-3 slds-form-element__label subject-title">
                                        Subject
                                    </div>
                                    <div class="slds-col slds-size_2-of-3 subject-container">
                                        <lightning-combobox
                                        name="Subject"
                                        value={subject}
                                        placeholder="Select subject"
                                        options={subjectOptions}
                                        onchange={handleSubjectChange} ></lightning-combobox>
                                    </div>
                                </div>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Due_Date__c" required>
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Process_Name__c" required>
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name={lookupType} disabled="true" value={recordId}>
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_2-of-2">
                            <h3 class="label-text section-header-container slds-section__title slds-theme--shade">
                                <span class="ection-header-title section-header-title slds-p-horizontal--small slds-truncate">
                                    Outcome
                                </span>
                            </h3>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Status__c">
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Call_Result__c">
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_1-of-2">
                            <span>
                                <lightning-input-field field-name="Comment__c">
                                </lightning-input-field>
                            </span>
                          </div>
                          <div class="slds-col slds-size_2-of-2">
                            <lightning-button class="confirm-button slds-m-top_small" variant="brand" type="submit" label="Create">
                            </lightning-button>
                        </div>
                    </div>
                </lightning-record-edit-form>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>