<template>
    <lightning-card>
        <div slot="title" style="text-align: center; font-size:larger">
            New Credit Application
        </div>
        
        <lightning-tabset variant="scoped">
            <lightning-tab label="Applicants">
                <div>
                    <c-credit-application-applicants-form role="Applicant" contact={buyer} onvaluechanged={handleValueChange}></c-credit-application-applicants-form>
                </div>
                <br/>
                <div>
                    <c-credit-application-applicants-form role="Co-Applicant" contact={cobuyer} onvaluechanged={handleValueChange}></c-credit-application-applicants-form>
                </div>
            </lightning-tab>

            <lightning-tab label="Addresses">
                <c-credit-application-addresses buyer-contact={buyer} cobuyer-contact={cobuyer} onvaluechanged={handleValueChange}></c-credit-application-addresses>
                <!-- <br/>
                <div>
                    <c-credit-application-addresses-tab role="Applicant" saveforboth={saveforboth} onvaluechanged={handleValueChange}></c-credit-application-addresses-tab>
                </div>
                <br/>
                <div>
                    <c-credit-application-addresses-tab role="Co-Applicant" onvaluechanged={handleValueChange} onchangesaveasapplicant={handleChangeSaveAsApplicant}></c-credit-application-addresses-tab>
                </div> -->
            </lightning-tab>

            <lightning-tab label="Employment">
                <div>
                    <c-credit-application-employment-tab role="Applicant" onvaluechanged={handleValueChange}></c-credit-application-employment-tab>
                </div>
                <br/>
                <div>
                    <c-credit-application-employment-tab role="Co-Applicant" onvaluechanged={handleValueChange}></c-credit-application-employment-tab>
                </div>
            </lightning-tab>

            <lightning-tab label="Income">
                <div>
                    <c-credit-application-income-tab role="Applicant" onvaluechanged={handleValueChange}></c-credit-application-income-tab>
                </div>
                <br/>
                <div>
                    <c-credit-application-income-tab role="Co-Applicant" onvaluechanged={handleValueChange}></c-credit-application-income-tab>
                </div>
            </lightning-tab>
            

            <lightning-tab label="References">
                <div>
                    <c-credit-application-references-tab role="Applicant" onvaluechanged={handleValueChange}></c-credit-application-references-tab>
                </div>
                <br/>
                <div>
                    <c-credit-application-references-tab role="Co-Applicant" onvaluechanged={handleValueChange}></c-credit-application-references-tab>
                </div>
            </lightning-tab>

            <lightning-tab label="Financials">
                <div>
                    <c-credit-application-financial-tab role="Applicant" onvaluechanged={handleValueChange}></c-credit-application-financial-tab>
                </div>
                <br/>
                <div>
                    <c-credit-application-financial-tab role="Co-Applicant" onvaluechanged={handleValueChange}></c-credit-application-financial-tab>
                </div>
            </lightning-tab>
            
            <lightning-tab label="Residence">
                <div>
                    <c-credit-application-residence-form role="Applicant" onvaluechanged={handleValueChange}></c-credit-application-residence-form>
                </div>
                <br/>
                <div>
                    <c-credit-application-residence-form role="Co-Applicant" onvaluechanged={handleValueChange}></c-credit-application-residence-form>
                </div>
            </lightning-tab>
        </lightning-tabset>

        <div slot="footer">
            <div class="slds-grid">
                <div>
                    <lightning-button label="Cancel" title="Cancel" onclick={handleCancel} class="slds-m-left_x-small"></lightning-button>
                </div>
                <div class="slds-col_bump-left">
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
                </div>
            </div>
        </div>
    </lightning-card>
</template>