<template>
    <div class="innerFormTitle">
        <div class="slds-grid slds-gutters">
            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                {componentLabel}
            </div>
            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                <lightning-button variant="base" icon-name="utility:delete" onclick={handleClearing}></lightning-button>
            </div>
        </div>
    </div>

    <lightning-input data-fieldname="Name__c" name="name" type="text" label="Vehicle" value={name} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-combobox data-fieldname="Type__c" name="type" label="Type" value={type} options={vehicleTypeOptions} onchange={handleValueChange}></lightning-combobox>
    <lightning-input data-fieldname="Finance_Company__c" name="financeCompany" type="text" label="Bank Name" value={financeCompany} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Account_Number__c" name="accountNumber" type="text" label="Account #" value={accountNumber} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Address__c" name="address" type="text" label="Bank Address" value={address} max-length="255" onblur={handleValueChange}></lightning-input>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Term__c" name="term" type="text" label="Term" value={term} max-length="255" onblur={handleValueChange}></lightning-input>
            </span>
            <span>
                <lightning-input data-fieldname="Payment__c" name="payment" type="number" label="Payment" value={payment} formatter="currency" 
                    max-length="10" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Opened_Date__c" name="openedDate" type="date" label="Opened" value={openedDate} onchange={handleValueChange}></lightning-input>
            </span>
            <span>
                <lightning-input data-fieldname="Closed_Date__c" name="closedDate" type="date" label="Closed" value={closedDate} onchange={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
    
    
</template>