<template>
    <c-custom-toast></c-custom-toast>

    <lightning-record-edit-form style="min-height: 25rem;" object-api-name="Action__c" onsubmit={handleSubmit}>
    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Action</h2>
    </header>

    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <input style="width: 0; height: 0; border: 0; padding: 0;"/><!-- Workaround to override focus in the lookup field -->
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-combobox
                        required=true
                        label="Scheduled Follow-up"
                        value={action.Name}
                        options={subjectItems}
                        data-id="Name"
                        onchange={handleFieldChange}>
                    </lightning-combobox>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <c-custom-lookup
                        value={action.OwnerId}
                        object-api-name="User"
                        label="Owner"
                        is-edit-mode="false"
                        onvaluechange={handleLookupValueChange}
                        data-id="OwnerId"
                        label-class="required-label">
                    </c-custom-lookup>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-input-field field-name="Type__c">
                    </lightning-input-field>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-input-field field-name="Status__c">
                    </lightning-input-field>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-input-field field-name={lookupType} value={recordId} disabled="true">
                    </lightning-input-field>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-combobox
                        label="Process Name"
                        value={action.Process_Name__c}
                        options={processNameItems}
                        data-id="Process_Name__c"
                        onchange={handleFieldChange}>
                    </lightning-combobox>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-input-field field-name="Due_Date__c">
                    </lightning-input-field>
                </div>
                <div class="slds-size_1-of-2 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-input-field field-name="Expiration_Date__c">
                    </lightning-input-field>
                </div>
            </div>
    </div>

    <footer class="slds-modal__footer">
        <button class="slds-button slds-button_neutral" type="button" onclick={closeModal}>Cancel</button>
        <button class="slds-button slds-button_brand" disabled={isSaveDisabled}>Save</button>
    </footer>
    </lightning-record-edit-form>
</template>