<template>
    <template if:false={isReady}>
      <div class="exampleHolder">
          <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
      </div>
  </template>
  <template if:true={isReady}>
    <div class="slds-card slds-card_boundary headerBottomBorder forceRelatedListCardDesktop">
      <c-queues-container-component onreject={handleRowRejected} resource-id={resourceId} onresource={hadnleResourceAdd} onremove={handleRemove} onclose={handleQueueClose} time-slot={timeSlot} is-sales={isSales} role={role}>
      </c-queues-container-component>
      <br />
      <c-resources-pool-manager-component rows={rows} role={role} is-loaded={isLoaded} is-empty={isEmpty} display-type={displayType} ontoqueue={handleToQueue} ontype={handleDisplayType} onsort={handleSort}>
      </c-resources-pool-manager-component>
      <br />
    </div>
  </template>
</template>