<template>
    <template if:true={isLoading}>
        <lightning-spinner variant="brand" alternative-text="Loading" size="small"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <div class="conditions slds-grid slds-wrap">
            <div class="slds-col slds-m-top_large slds-m-bottom_small">
                <lightning-button variant={arrivalDateVariant} label="Arrival Date" title="Arrival Date"
                                  onclick={arrivalDateOpenModal}>
                </lightning-button>
                <template if:true={isArrivalDateModalOpen}>
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 class="slds-text-heading_medium slds-hyphenate">Arrival Date</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium">
                                <div class="slds-m-right_small">
                                    <lightning-input type="date" name="startDate" label="From:"
                                                     value={arrivalDateFromValue}
                                                     onchange={handleArrivalDateFromChange}></lightning-input>
                                </div>
                                <div class="slds-m-right_small">
                                    <lightning-input type="date" name="endDate" label="To:"
                                                     value={arrivalDateToValue}
                                                     onchange={handleArrivalDateToChange}></lightning-input>
                                </div>
                                <div if:true={errorArrivalDate} class="slds-m-top_small slds-text-color_error">
                                    <p>{errorArrivalDate}</p>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={closeArrivalDateModal}
                                        title="Clear">Clear
                                </button>
                                <button class="slds-button slds-button_brand" onclick={applyArrivalDateModal}
                                        title="Apply">Apply
                                </button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </div>
            <div class="slds-col slds-m-top_large slds-m-bottom_small">
                <lightning-button variant={showroomStatusVariant} label="Showroom Status" title="Showroom Status"
                                  onclick={showroomStatusOpenModal}>
                </lightning-button>
                <template if:true={isShowroomStatusModalOpen}>
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 class="slds-text-heading_medium slds-hyphenate">Showroom Status</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium">
                                <template if:true={showroomStatusOptions.data}>
                                    <lightning-dual-listbox name="showroomStatus"
                                                            label="Showroom status:"
                                                            source-label="Available"
                                                            selected-label="Selected"
                                                            options={showroomStatusOptions.data.values}
                                                            value={showroomStatusValue}
                                                            onchange={handleShowroomStatusChange}>
                                    </lightning-dual-listbox>
                                </template>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={closeShowroomStatusModal}
                                        title="Clear">Clear
                                </button>
                                <button class="slds-button slds-button_brand" onclick={applyShowroomStatusModal}
                                        title="Apply">Apply
                                </button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </div>
            <div class="slds-col slds-m-top_large slds-m-bottom_small">
                <lightning-button variant={vehicleVariant} label="Vehicle" title="Vehicle" onclick={vehicleOpenModal}>
                </lightning-button>
                <template if:true={isVehicleModalOpen}>
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <h2 class="slds-text-heading_medium slds-hyphenate">
                                    Vehicle</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                                <lightning-combobox
                                    name="type"
                                    label="Type:"
                                    value={vehicleTypeValue}
                                    options={vehicleTypeOptions}
                                    onchange={handleVehicleTypeChange}>
                                </lightning-combobox>
                                <div class="conditions slds-grid slds-wrap">
                                    <div class="slds-col slds-m-right_small">
                                        <lightning-combobox
                                            name="yearFrom"
                                            label="Year From:"
                                            value={vehicleDateFromValue}
                                            options={yearOptions}
                                            onchange={handleVehicleDateFromChange}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col">
                                        <lightning-combobox
                                            name="yearTo"
                                            label="Year To:"
                                            value={vehicleDateToValue}
                                            options={yearOptions}
                                            onchange={handleVehicleDateToChange}>
                                        </lightning-combobox>
                                    </div>
                                </div>
                                <template if:true={vehicleMakeOptions.data}>
                                    <lightning-combobox
                                        name="make"
                                        label="Make:"
                                        value={vehicleMakeValue}
                                        options={vehicleMakeOptions.data.values}
                                        onchange={handleVehicleMakeChange}>
                                    </lightning-combobox>
                                </template>
                                <lightning-input type="text" label="Model:" value={vehicleModelValue}
                                                 onchange={handleModelChange}></lightning-input>
                                <lightning-input type="text" label="Trim:" value={vehicleTrimValue}
                                                 onchange={handleTrimChange}></lightning-input>
                                <div if:true={errorVehicle} class="slds-m-top_small slds-text-color_error">
                                    <p>{errorVehicle}</p>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <button class="slds-button slds-button_neutral" onclick={closeVehicleModal}
                                        title="Clear">Clear
                                </button>
                                <button class="slds-button slds-button_brand" onclick={applyVehicleModal}
                                        title="Apply">Apply
                                </button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </div>
            <template if:true={isAllDealerAccess}>
            <div class="slds-col slds-m-right_small slds-m-bottom_small">
                    <lightning-combobox
                        name="showroomDealer"
                        label="Dealer:"
                        value={showroomDealerValue}
                        options={showroomDealerOptions}
                        onchange={handleShowroomDealerChange}>
                    </lightning-combobox>
            </div>
            </template>
            <div class="slds-col slds-m-right_small slds-m-bottom_small">
                <lightning-combobox
                    name="lastActivityBy"
                    label="Last Activity By:"
                    value={lastActivityByValue}
                    options={lastActivityBy}
                    onchange={handleLastActivityByChange}>
                </lightning-combobox>
            </div>
            <div class="slds-col slds-m-bottom_small slds-m-right_small">
                <lightning-combobox
                    name="team"
                    label="Team:"
                    value={teamValue}
                    options={teams}
                    onchange={handleTeamChange}>
                </lightning-combobox>
            </div>
            <div class="slds-col slds-m-bottom_small" style="width:150px">
                <lightning-combobox
                    name="pageSize"
                    label="Page Size:"
                    value={pageSize}
                    options={pageSizeOptions}
                    onchange={handlePageSize}>
                </lightning-combobox>
            </div>
        </div>
        <template if:true={data}>
            <div class="slds-scrollable_x" style="height:100%; width:100%">
                <lightning-datatable
                    key-field="id"
                    columns={columns}
                    data={data}
                    hide-checkbox-column
                    default-sort-direction={defaultSortDirection}
                    sorted-direction={sortDirection}
                    sorted-by={sortedBy}
                    onsort={onHandleSort}
                    onrowaction={handleRowAction}>
                </lightning-datatable>
            </div>
            <lightning-layout horizontal-align="space" class="slds-m-top_medium slds-m-bottom_medium">
                <lightning-layout-item flexibility="auto">
                    <lightning-button label="First Page" icon-name="utility:chevronleft" disabled={isPreviousDisabled}
                                      onclick={firstPageHandler}>
                    </lightning-button>
                    <lightning-button label="Previous" icon-name="utility:jump_to_left" disabled={isPreviousDisabled}
                                      onclick={previousHandler}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    Page {page} of {totalPage}
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    <lightning-button label="Next" icon-name="utility:jump_to_right" icon-position="right"
                                      disabled={isNextDisabled}
                                      onclick={nextHandler}></lightning-button>
                    <lightning-button label="Last Page" icon-name="utility:chevronright" icon-position="right"
                                      disabled={isNextDisabled}
                                      onclick={lastPageHandler}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:false={data}>
            <span class="slds-align_absolute-center slds-text-heading_medium">
                No data to display!
            </span>
        </template>
        <template if:true={isLog}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate">Opportunity</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                        <c-opportunity-lookup dealer={dealer}
                                              onselect={handleOpportunitySelect}></c-opportunity-lookup>
                        <template if:false={isOpportunityNotSelected}>
                            <div class="selected-opportunity slds-m-top_small">
                                <lightning-icon class="result-icon slds-m-right_small"
                                                icon-name="standard:opportunity" size="small"
                                                alternative-text="Result item icon"></lightning-icon>
                                {opportunity.name}
                            </div>
                        </template>
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={handleOpportunityClose}
                                title="Close">Close
                        </button>
                        <button class="slds-button slds-button_brand" onclick={handleOpportunityCreate}
                                title="Confirm">Confirm
                        </button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
</template>