<template>
    <template if:true={isCoApplicant} >
        <div class="slds-grid tabTitle">
            <div class="slds-col slds-size_1-of-3" style="text-align: left; margin-left: 0.5rem;">
                <lightning-input  type="checkbox" label="Same As Applicant" onchange={handleCheck}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-3">
                {role}
            </div>
            <div class="slds-col slds-size_1-of-3"></div>
        </div>
    </template>
    <template if:false={isCoApplicant} >
        <div class="tabTitle">
            {role}
        </div>
    </template>
    
    <template if:false={sameAsApplicant} >
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <div>
                    <c-credit-application-addresses-form address-type="Current_Address" component-label="Current Address" onvaluechanged={handleValueChange}></c-credit-application-addresses-form>
                </div>
                <div>
                    <c-credit-application-addresses-form address-type="Previous_Address_2" component-label="Previous Address 2" onvaluechanged={handleValueChange}></c-credit-application-addresses-form>
                </div>
            </div>
            <div class="slds-col">
                <div>
                    <c-credit-application-addresses-form address-type="Previous_Address_1" component-label="Previous Address 1" onvaluechanged={handleValueChange}></c-credit-application-addresses-form>
                </div>
            </div>
        </div>
    </template>
</template>