<template>
   <lightning-formatted-url style="margin-left: 0.5rem;" value={finalUrl} tooltip={recId} label={recordSubject} onclick={deleteOpener} target="_blank"></lightning-formatted-url>
</template>