<template>
    <div class="formTitle">
        <div class="slds-grid slds-gutters">
            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                {componentLabel}
            </div>
            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                <lightning-button variant="base" icon-name="utility:delete" onclick={handleClearing}></lightning-button>
            </div>
        </div>
    </div>

    <lightning-input data-fieldname="Street__c" name="street1" type="text" label="Address 1" value={street1} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Street_2__c" name="street2" type="text" label="Address 2" value={street2} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="City__c" name="city" type="text" label="City" value={city} max-length="255" onblur={handleValueChange}></lightning-input>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-combobox data-fieldname="State__c" name="state" label="State" value={state} options={statePicklistOptions} onblur={handleValueChange}></lightning-combobox>
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Zipcode__c" name="zipcode" type="text" label="Zipcode" value={zipcode} max-length="255" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
    <lightning-combobox data-fieldname="Country__c" name="country" label="Country" value={country} options={countryPicklistOptions} onblur={handleValueChange}></lightning-combobox>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Years__c" name="years" type="number" label="Years" value={years} max-length="18" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Months__c" name="month" type="number" label="Months" value={month} max-length="18" onblur={handleValueChange}></lightning-input>
            </span>
        </div>
    </div>
</template>