<template>
    <lightning-card title="Original Opportunity">
        <template if:true={isOriginalId}>
            <lightning-record-view-form record-id={oppid} object-api-name="Opportunity">
                <div class="slds-box slds-theme_default slds-grid slds-wrap">
                    <template for:each={fieldList} for:item="field">
                        <div key={field.fieldName}
                            class="fieldItem slds-form-element slds-form-element_readonly slds-col slds-hint-parent override--slds-form-element">
                            <lightning-output-field field-name={field}></lightning-output-field>
                        </div>
                    </template>
                </div>
            </lightning-record-view-form>
        </template>
        <template if:false={isOriginalId}>
            <div style="margin-left: 1rem;">
                There is no Original Opportunity
            </div>
        </template>
    </lightning-card>
</template>