<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header slds-modal__header_empty">
                <button class="exit-button slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal} title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <img src={image}>
            </div>
        </div>
    </section>
    <!-- <div class="slds-backdrop slds-backdrop_open"></div> -->
</template>