<template>
    <template if:false={isLoaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <div class="slds-grid slds-wrap slds-box main-div">
        <div class="filters">
            <div class="slds-p-horizontal_medium slds-m-bottom_medium">
                <label>Select User</label>
                <lightning-combobox
                    class="filter-input"
                    label=""
                    value={selectedUser}
                    options={userOptions}
                    variant=label-hidden
                    onchange={handleUserChange}>
                </lightning-combobox>
            </div>
            <div class="slds-p-horizontal_medium slds-m-bottom_medium">
                <label>Select Date</label>
                <lightning-input
                    class="filter-input"
                    type="date"
                    label=""
                    value={selectedDate}
                    variant=label-hidden
                    onchange={handleDateChange}>
                </lightning-input>
            </div>
            <div class="slds-p-horizontal_medium slds-m-bottom_medium">
                <label>Show Emails</label>
                <lightning-combobox
                        class="filter-input"
                        label=""
                        value={emailValue}
                        options={emailOptions}
                        variant=label-hidden
                        onchange={handleEmailOptionsChange}>
                </lightning-combobox>
            </div>
            <div class="slds-p-horizontal_medium">
                <lightning-input
                    class="slds-m-top_small filter-input-no-label"
                    label=""
                    placeholder="Search Emails"
                    type="search"
                    value={filterString}
                    variant=label-hidden
                    max-length="255"
                    onchange={handleTextFilterChange}>
                </lightning-input>
            </div>
        </div>

        <div class="slds-box messages">
            <h1 class="slds-text-heading_medium slds-m-bottom_medium">Email Messages</h1>
            <c-custom-email-message-data-table
                hide-checkbox-column="true"
                key-field="relationId"
                data={data}
                columns={columns}>
            </c-custom-email-message-data-table>

            <div class="slds-m-top_medium slds-float_right buttons">
                <button class="slds-button slds-button_outline-brand slds-m-right_small" disabled={isPrevDisabled} onclick={handlePrev}>
                    Previous
                </button>
                <button class="slds-button slds-button_outline-brand" disabled={isNextDisabled} onclick={handleNext}>
                    Next
                </button>
            </div>
        </div>
    </div>
</template>