.main-div {
    background-color: #FFF;
}

.filters {
    width: 315px;
}

.filter-input {
    width: 200px;
    display: inline-block;
}

.filter-input-no-label {
    width: 280px;
}

.filters label {
    width: 80px;
    display: inline-block;
}

.messages {
    width: calc(100% - 315px);
}

.buttons button {
    width: 80px;
}