.THIS .sidebar {
    width: 20%;
}

.THIS .detailContainer {
    display: flex;
}

.THIS .recordDetail {
    width: 80%;
    margin-top: 2em;
}

.THIS .haveNotData {
    text-align: center;
    margin: 1em;
}

.THIS .vertical-align-center {
    width: 2em;
    height: 6.1em;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.THIS .sidebar-item {
    min-height: 7em;
}

.THIS .navigation-container {
  
}

.THIS .menu-button {
    margin-left: 0 !important;
    background-color:white;
    width: 2rem;
    height: 2rem;
}

/*.THIS .menu-button svg {*/
/*    fill:rgb(255,255,255);*/
/*}*/