<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                    Queue edit form
                </h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="height: 30rem">
                <h2 style="text-align: center; color: crimson">{errorMessage}</h2>
                <lightning-input type="text" name="queueName"  data-id="queueName" label="Name" required onchange={handleNameChange}
                    value={queueData.name}>
                </lightning-input>
                <lightning-input type="text" name="upTime"  data-id="upTime" label="Up Time (min)" required onchange={handleUpTimeChange}
                    value={queueData.upTime}>
                </lightning-input>
                <br />
                <lightning-accordion active-section-name="queueeAdvancedSettings" allow-multiple-sections-open>
                    <lightning-accordion-section name="Advanced" label="Queue advanced settings">
                        <lightning-input type="text" name="revert" data-id="revertTime" label="Revert from break time (min)"
                            onchange={handleRevert} required value={queueData.revertTime}>
                        </lightning-input>
                        <lightning-input type="text" name="upNext" data-id="upNextTime" label="Revert to Up next time (min)"
                            onchange={handleUpNext} required value={queueData.upNextTime}>
                        </lightning-input>
                    </lightning-accordion-section>
                </lightning-accordion>
                <template if:false={isEmptyRows}>
                    <lightning-accordion active-section-name="upTimeSettings" allow-multiple-sections-open>
                        <lightning-accordion-section name="Advanced" label="Rows up time advanced settings:">
                            <template for:each={rowsData} for:item="row">
                                <lightning-input type="text" key={row.id} name="upTime" label={row.name} required
                                    value={row.upTime} onchange={handleRowUpdate} data-id={row.id}>
                                </lightning-input>
                            </template>
                        </lightning-accordion-section>
                    </lightning-accordion>
                </template>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button class="slds-m-top_small" type="submit" label="Save" onclick={save}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>