<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                    Choose assistant
                </h2>
            </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="height: 30rem">
                    <template if:true={isEmpty}>
                        <div class="message-container">
                            There are no free resources
                        </div>
                    </template>
                    <template if:false={isEmpty}>
                        <template for:each={rows} for:item="row">
                            <div key={row.position}>
                                <div class="row-container" data-rowid={row.id} onclick={handleChoose}>
                                    <div class="slds-truncate" title="Resource name"> 
                                        <span class="slds-avatar slds-avatar_circle slds-avatar_large"
                                            style="margin: 0.2rem; margin-inline-end: 0.5rem;">
                                            <img alt="Person name" src={row.pictureUrl} title="Person name" />
                                        </span>
                                        {row.name}
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>