.row-container {
    margin: .5rem;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 10px;
}

.row-container:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.message-container {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
    color: #66656594;
}