<template>
    <lightning-card>
        <template if:true={isModalOpen}>
<!--            <c-actions-list-l-w-c-new-record-modal record-id={recordId} object-api-name={objectApiName} onaction={handleModalAction}></c-actions-list-l-w-c-new-record-modal>-->

            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="main-container slds-modal__container">
                    <c-new-action-form record-id={recordId} object-api-name={objectApiName} onclose={handleCloseModal} onaction={handleModalAction}></c-new-action-form>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <div slot="title">
            <lightning-icon icon-name="custom:custom95" size="small" style="display: inline-block;"></lightning-icon>
            &nbsp;&nbsp;
            <p style="display: inline-block; font-weight: bold;">Scheduled Follow Up</p>
        </div>

        <div slot="actions" class="slds-grid">
            <div class="slds-col">
                <lightning-combobox
                    name="progress"
                    value={filterValue}
                    options={options}
                    label="Test"
                    onchange={handleChange}
                    variant="label-hidden">
                </lightning-combobox>
            </div>
            <div class="slds-col action-container">
                <lightning-button
                    label="New"
                    onclick={handleNewAction}>
                </lightning-button>
            </div>
        </div>

        <div if:false={isDataEmpty}>
            <c-custom-lightning-datatable
                    key-field="Id"
                    data={data}
                    show-row-number-column
                    hide-checkbox-column
                    columns={columns}
                    default-sort-direction={defaultSortDirection}
                    sorted-direction={sortDirection}
                    sorted-by={sortedBy}
                    onsort={onHandleSort}
                    onrowaction={handleRowAction}
            >
            </c-custom-lightning-datatable>

            <div class="slds-m-around--medium" if:true={displayShowMoreButton} style="text-align: center">
                <div if:false={allDataShown}>
                    <lightning-button
                            label="Show More"
                            onclick={handleShowMore}>
                    </lightning-button>
                </div>
                <div if:true={allDataShown}>
                    <lightning-button
                            label="Show Less"
                            onclick={handleShowLess}>
                    </lightning-button>
                </div>
            </div>
        </div>
        <template if:true={editRecordModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text" style="color: white;">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Edit {editRecordName}</h2>
                    </header>
                    <div style="background-color: white; padding: 1%;">
                        <lightning-record-form
                                record-id={selectedRecordToEdit}
                                object-api-name="Action__c"
                                layout-type="Full"
                                mode="edit"
                                columns="2"
                                onsuccess={saveRecord}
                                oncancel={closeModal}>
                            >
                            <lightning-messages>
                            </lightning-messages>
                        </lightning-record-form>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <div if:true={isDataEmpty} style="text-align: center;">
            No records
        </div>
        <div if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </div>
    </lightning-card>
</template>