<template>
    <lightning-messages>
    </lightning-messages>
        <lightning-button
            class="slds-m-top_small"
            type="submit"
            label="Create new"
            slot="actions">
        </lightning-button>
<div class="slds-box slds-p-around_small slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none">
           <p> <lightning-input type="text" name="FirstName" label="First Name" ></lightning-input></p>
           <p> <lightning-input type="text" name="Email" label="Email" ></lightning-input></p>
           <p> <lightning-input type="text" name="LastName" label="Last Name" ></lightning-input></p>
</div>

</template>