<template>
	<template if:true={showRequestWindow}>
		<div class="slds-card slds-p-around_x-small">
			<h1 class="slds-m-left_x-small slds-m-bottom_x-small slds-text-heading_small"><b>You can request to unlock the record!</b></h1>
			<lightning-button variant="brand" label="Request" title="Unlock request" onclick={unlockRequest} class="slds-m-left_x-small"></lightning-button>
		</div>
	</template>

	<template if:true={showRequestDiaog}>
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={rejectRequest}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Request to unlock a record</h2>
				</header>
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<p>{requestUserName} request you to give access to the current record</p>
				</div>
				<footer class="slds-modal__footer">
					<button class="slds-button slds-button_neutral" onclick={rejectRequest}>Reject</button>
					<button class="slds-button slds-button_brand" onclick={approveRequest}>Approve</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>