<template>
    <lightning-card title="">
        <template if:true={isSpinner}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <!-- <template if:false={isSpinner}> -->
            <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_small slds-m-vertical_x-small slds-grid_align-center">
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-1 slds-large-size_1-of-1 slds-text-align--left">
                    <lightning-radio-group name="appointmentType"
                                           label="Appointment Type"
                                           options={appointmentTypeValues}
                                           required
                                           value={appointmentTypeValuesSelected}
                                           onchange={handleAppointmentTypeSelection}
                                           type="radio"></lightning-radio-group>
                </div>
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-2 slds-large-size_1-of-2 slds-text-align--left">
                    <lightning-input type="date"
                                     required
                                     name="AppStartDate"
                                     label="Appointment Start Date"
                                     value={appointmentDateSelected}
                                     onchange={handleChangeAppointmentDate}></lightning-input>
                </div>
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-2 slds-large-size_1-of-2 slds-text-align--left">
                    <lightning-combobox
                            name="AppStartTime"
                            label="Appointment Start Time"
                            placeholder=""
                            options={availableTimeSlotsPerDay}
                            value={availableTimeSlotsPerDaySelected}
                            required
                            disabled={isNOTAvailableDayOfWeekForAppointment}
                            onchange={handleChangeAppointmentTime}></lightning-combobox>
                </div>
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-2 slds-large-size_1-of-2 slds-text-align--left">
                    <lightning-combobox
                            name="relatedSaleManager"
                            label="Sales Manager"
                            placeholder=""
                            required
                            options={relatedSaleManagers}
                            value={relatedSaleManagerChosen}
                            onchange={handleSaleManager}></lightning-combobox>
                </div>
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-2 slds-large-size_1-of-2 slds-text-align--left">
                    <lightning-combobox
                            name="relatedSalesPerson"
                            label="Salesperson"
                            placeholder=""
                            options={relatedSalesPersons}
                            value={relatedSalesPersonChosen}
                            disabled={isManagerNOTChosen}
                            onchange={handleSalesPerson}></lightning-combobox>
                </div>
                <div class="slds-col slds-m-vertical_x-small slds-size_1-of-1 slds-large-size_1-of-1 slds-text-align--left">
                    <lightning-textarea name="input2" label="Notes"
                                        onchange={handleResponseTextAreaChanges}
                                        value={notesEnteredValue}
                                        maxlength="32000">
                    </lightning-textarea>
                </div>
            </div>
            <div class="slds-col slds-m-vertical_x-small slds-p-horizontal_small slds-size_1-of-2">
                <lightning-input type="checkbox" label="Do Not Send Email"
                                 name="donotsendemail"
                                 value={doNotSendEmail}
                                 checked={doNotSendEmail}
                                 onchange={handleCheckboxCheck}></lightning-input>

                <lightning-input type="text" label="TO:"
                                 value={toEmail}
                                 class="email-input"
                                 onchange={handleTOInput}
                                 onblur={handleEmailInputBlur}
                                 disabled={doNotSendEmail}></lightning-input>
                <lightning-input type="text" label="CC:"
                                 value={ccEmail}
                                 class="email-input"
                                 onchange={handleCCInput}
                                 onblur={handleEmailInputBlur}
                                 disabled={doNotSendEmail}></lightning-input>
            </div>
            <div class="slds-col slds-m-vertical_x-small slds-size_1-of-1 slds-p-horizontal_small slds-large-size_1-of-1 slds-text-align--right">
                <lightning-button variant="brand"
                                  label="Save"
                                  title="Create Event"
                                  onclick={handleSaveButtonClick}
                                  disabled={isSaveDisabled}></lightning-button>
            </div>
        <!-- </template> -->
    </lightning-card>
</template>