<template>
  <div class="slds-page-header slds-page-header_record-home">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity">
              <lightning-icon icon-name="custom:custom25"> </lightning-icon>
            </span>
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span>{activeQueues}</span>
                  <span class="slds-page-header__title slds-truncate" title="Queue up system">Queue up system</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-page-header__col-actions">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <ul class="slds-button-group-list">
              <!-- <li>
                <button class="slds-button slds-button_neutral" onclick={openModal}>
                  New
                </button>
              </li> -->
              <!-- <li>
                <button class="slds-button slds-button_neutral" onclick={openLeadModal}>
                  Create Lead
                </button>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <template if:true={isLeadModalOpen}>
    <c-queue-lead-modal is-sales={isSales} onmodal={handleLeadModal} current-resource={selectedRow} is-manager={isManager} dealer={dealer}></c-queue-lead-modal>
  </template>
  <template if:true={openAssistantModal}>
    <c-assistant-modal onassistant={handleAssistantModal} selected-row={selectedRow} selected-queue={selectedQueue}></c-assistant-modal>
  </template>
  <template if:true={isModalOpen}>
    <c-queue-edit-modal is-sales={isSales} onmodal={handleModal} dealer={dealer} time-slot={timeSlot}></c-queue-edit-modal>
  </template>
  <div class="slds-card slds-card_boundary">
    <template if:false={isLoaded}>
      <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <template if:true={isEmpty}>
      <br />
      <h2 class="slds-text-heading_small" style="text-align: center">
        No active queues found.
        <template if:true={isManager}>
          <a onclick={openModal}>Click to start new Queue</a>
        </template>
      </h2>
      <br />
    </template>
    <template for:each={queues} for:item="queue">
      <c-queue-view-component key={queue.id} is-manager={isManager} queue={queue} ondrop={handleDrop} onaction={handleAction}
        ondelete={handleQueueDelete} onupdate={handleUpdate} onclose={handleClose}>
      </c-queue-view-component>
    </template>
  </div>
</template>