.panel-backdrop {
    cursor: pointer;
    position: fixed;
    z-index: 1000;
}

.panel {
    bottom: -3px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.25);
    height: auto;
    left: 0;
    max-height: 100%;
    position: fixed;
    transition: bottom,transform .3s ease-out;
    transform: translateY(100%);
    width: 100%;
    z-index: 1001;
}

.panel--open {
    bottom: 0;
    transform: translateY(0);
}