<template>

    <div if:true={signatureOpen} class="panel-backdrop slds-backdrop slds-backdrop_open" onclick={closeSignature}></div>

    <div if:true={signatureOpen} class={signaturePanelClass} aria-hidden="false">
        <div class="slds-panel__header">
            <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate">
                Add Signature
            </h2>

            <button
                    class="slds-button slds-button_icon slds-button_icon-small slds-panel__close"
                    title="Close Panel"
                    type="button"
                    onclick={closeSignature}
            >
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close Panel</span>
            </button>
        </div>

        <div class="slds-panel__body">

            <c-signature-canvas if:true={signatureOpen} onsave={handleSignature}></c-signature-canvas>

            <div class="slds-form-element slds-m-top_small">
                <div class="slds-form-element__control">
                    <div class="slds-checkbox">
                        <label class="slds-checkbox__label">
                            <input type="checkbox" checked={approved} onchange={handleApprove}>
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">I Approve</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="slds-m-top_small">
                <button class="slds-button slds-button_brand" type="button" disabled={signatureSubmitDisabled} onclick={saveSignature}>Submit</button>
                <button class="slds-button slds-button_neutral" type="button" disabled={signatureClearDisabled} onclick={resetSignature}>Clear</button>
            </div>
        </div>
    </div>


    <div class="slds-card slds-p-around_small">
        <template if:false={loaded}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>

        <button title="Add a signature" type="button" onclick={showSignature} class="slds-button slds-button_brand slds-m-bottom_small">Add a signature</button>

        <template if:true={loaded}>
            <div class="notes">
                <div>
                    <template for:each={notes} for:item="note" for:index="index">
                        <div key={note.id} class="slds-card">
                            <c-note note={note}></c-note>
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-m-top_x-small">
                <template for:each={videos} for:item="video" for:index="index">
                    <div key={video.id} class="slds-m-bottom_x-small">
                        <c-file-card video={video}></c-file-card>
                    </div>
                </template>
            </div>

        </template>
    </div>

</template>