.new-account-form {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1%;
}

.new-account-form .title {
    text-align: center;
    font-size: 1rem;
}

.error-message {
    text-align: left;
    color: red;
    margin-top: 1rem;
}