<template>
    <div class="new-account-form slds-border slds-border_bottom slds-border_left slds-border_right slds-border_top">
        <div class="title">
            New Account Form
        </div>
        <div class="error-message">
            {errormessage}
        </div>
        <div class="element">
            <lightning-input type="text" data-type="firstName" label="First Name" onchange={handleInput} required></lightning-input>
        </div>
        <div class="element">
            <lightning-input type="text" data-type="lastName" label="Last Name" onchange={handleInput} required></lightning-input>
        </div>
        <div class="element">
            <lightning-input type="text" data-type="zipCode" label="Zip code" onchange={handleInput} required></lightning-input>
        </div>
        <div class="element">
            <lightning-input type="text" data-type="phone" label="Mobile Phone" onchange={handleInput} required></lightning-input>
        </div>
        <div class="element">
            <lightning-input type="text" data-type="emailAddress" label="Email address" onchange={handleInput} required></lightning-input>
        </div>                              
        <div class="element">
            <lightning-button variant="brand" label="Create" title="Create" disabled={isNotAllFilled} onclick={handleCreateNewAccount}></lightning-button>
        </div>
        <template if:true={inProcess}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
    </div>
</template>