<template>
    <div class="slds-card">
        <template if:true={isProcess}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <div if:false={createdSuccessfully}>
            <div if:false={isConfirmation} >
                <!-- <div class="slds-card" style="text-align: center;"> -->
                    
                    <template if:false={isAppointmentSelected}>
                        <div style="min-height: 28.2rem;">
                            <!-- <div> -->
                                <h1 style="border-bottom: 1px solid rgb(221, 219, 218); padding-bottom: 0.2rem; font-size: 2em; text-align: center; margin-bottom: 1rem">Select Appointment Type</h1>
                                <!-- <div style=" margin-top: 2rem"> -->
                                    <div style="margin: auto;width: 60%;text-align: center;">
                                        <lightning-radio-group style="display: inline-block; text-align: left;" name="salesAppointmentTypeRadioGroup" options={appointmentTypes}
                                            value={salesAppointment.SalesAppointmentType} type="radio" variant="label-hidden"
                                            onchange={handleAppType}></lightning-radio-group>
                                    </div>
                                    
                                    <!-- <template for:each={appointmentTypes} for:item="type">
                                        <div key={type.value}>
                                        <div key={type.value} style="padding-top: 2%;padding-bottom: 2%;">
                                            <button key={type.value} value={type.value} style="background-color: transparent; padding: 25px 45px;border-radius: 7px;"
                                                onclick={handleAppType}><p>{type.label}</p>
                                            </button>
                                            <button class="slds-button slds-button_neutral" value={type.value} onclick={handleAppType}><p>{type.label}</p></button>
                                        </div>
                                    </template> -->
                                <!-- </div> -->
                            <!-- </div> -->
        
                            <div if:true={showPickupSection} style="margin: auto; width: 60%">
                                </br>
                                <div style="margin: 5px">
                                    <lightning-input data-apiname="PickupStreet" name="pickupStreet" value={salesAppointment.PickupStreet} max-length="255" placeholder="Street"
                                        onchange={handlePickupAddressChange} variant="label-hidden">
                                    </lightning-input>
                                </div>
                                <div style="margin: 5px">
                                    <lightning-input data-apiname="PickupCity" name="pickupCity" value={salesAppointment.PickupCity} max-length="255" placeholder="City"
                                        onchange={handlePickupAddressChange} variant="label-hidden">
                                    </lightning-input>
                                </div>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-3">
                                        <div style="padding-left: 5px; padding-right: 5px;">
                                            <lightning-input data-apiname="PickupState" name="pickupState" value={salesAppointment.PickupState} max-length="255" placeholder="State"
                                                onchange={handlePickupAddressChange} variant="label-hidden">
                                            </lightning-input>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_2-of-3">
                                        <div style="padding-left: 5px; padding-right: 5px;">
                                            <lightning-input data-apiname="PickupZIP" name="pickupZIP" value={salesAppointment.PickupZIP} max-length="255" placeholder="ZIP"
                                                onchange={handlePickupAddressChange} variant="label-hidden">
                                            </lightning-input>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 5px">
                                    <lightning-input data-apiname="PickupAddressComments" name="pickupComment" value={salesAppointment.PickupAddressComments} max-length="255" placeholder="Comments"
                                        onchange={handlePickupAddressChange} variant="label-hidden">
                                    </lightning-input>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="slds-card__footer slds-grid">
                            <div class="slds-col slds-col_bump-left slds-text-align_right">
                                <div class="slds-button-group">
                                    <lightning-button label="Next" variant="brand" disabled={isTypeSelected} onclick={getAvailabilityCalendar}></lightning-button>
                                </div>
                            </div>
                        </div>
                    </template>
        
                    <template if:true={isAppointmentSelected}>
                        <div style="min-height: 28.2rem;">
                            <h1 style="border-bottom: 1px solid rgb(221, 219, 218); padding-bottom: 0.2rem; font-size: 2em; text-align: center;">Select Schedule</h1>
            
                            <div class="slds-grid">
                                <div class="slds-col slds-size_3-of-4" style="border-right: 1px solid rgb(221, 219, 218); padding-bottom: 0.2rem;">
                                    <div style="font-size: 1.2em; padding-top: 0.5em; padding-bottom: 0.5em; text-align: center;">Availability Calendar</div>
                                    <div style="background-color: aliceblue; height: 3.5em;">
                                        <div class="slds-grid">
                                            <div class="slds-col_bump-right" style="font-size: 1.5em; padding-top: 0.5em; padding-left: 0.5em;">
                                                {today} - {lastDate}
                                            </div>
                                            <div style="padding-top: 0.5em; padding-right: 0.5em; display: inherit;">
                                                <lightning-button-icon icon-name="utility:chevronleft" alternative-text="previous" disabled={isPreviousDateDisabled}
                                                    style="background: white;" onclick={handlePreviousDateClick}></lightning-button-icon>
                                                <lightning-button-icon icon-name="utility:chevronright" alternative-text="next"
                                                    style="background: white;" onclick={handleNextDateClick}></lightning-button-icon>
                                            </div>
                                            <div style="padding-top: 0.5em; padding-right: 0.5em;">
                                                <button class="slds-button slds-button_neutral" onclick={handleTodayClick} disabled={isPreviousDateDisabled}>
                                                    <p>Today</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-grid slds-wrap" style="margin: auto;">
                                        <template for:each={slotDates} for:item="date" for:index="dateIndex">
                                            <div key={date} class="slds-col slds-size_1-of-4" style="text-align: center">
                                                <div key={date} style="padding-top: 2%;padding-bottom: 2%;margin-left: 6%;margin-right: 5%;">
                                                    {date.dateLabel}
                                                </div>
                                                
                                                <div key={date} style="text-align: center" for:each={date.slots} for:item="slot" for:index="index">
                                                    <!-- <lightning-button label={slot.label} onclick={handleTimeslotSelect} variant="base"
                                                        data-index={index} data-date={dateIndex} class="slds-m-left_x-small" disabled={slot.isDisabled} >
                                                    </lightning-button> -->
                                                    <button class={slot.class} onclick={handleTimeslotSelect} disabled={slot.isDisabled}
                                                        data-date={dateIndex} data-index={index}>
                                                        {slot.label}
                                                    </button>
                                                </div>
                                            </div>
                                        </template>
                                    </div> 
                                </div>
                                <div class="slds-col slds-size_1-of-4" style="padding-left: 1%; text-align: left; ">
                                    <div>
                                        <lightning-combobox name="Salesperson" label="Primary Resource" placeholder="Select Salesperson"
                                            options={salespersons} value={salesAppointment.PrimaryResource} onchange={handlePrimaryResourceChange}>
                                        </lightning-combobox>
                                        <lightning-combobox name="Sale Manager" label="Secondary Resource" placeholder="Select Sale Manager"
                                            options={saleManagers} value={salesAppointment.SecondaryResource} onchange={handleSecondaryResourceChange}>
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="slds-card__footer slds-grid" style="margin-top: 0px;">
                            <div>
                                <button class="slds-col slds-text-align_left slds-button slds-button_neutral" onclick={goToTypePage}>Previous</button>
                                <!-- <lightning-button class="slds-col slds-text-align_left" label="Previous"
                                    variant="neutral" onclick={goToTypePage}></lightning-button> -->
                            </div>
                            <div class="slds-col slds-col_bump-left slds-text-align_right">
                                <button class="slds-button slds-button_brand" onclick={goToConfirmScheduling} disabled={isTimeslotNotSelected}>Next</button>
                            </div>
                        </div>
                        
                    </template>
                <!-- </div> -->
            </div>

            <div if:true={isConfirmation}>
                <div style="min-height: 28.2rem;">
                    <h1 style="border-bottom: 1px solid rgb(221, 219, 218); padding-bottom: 0.2rem; font-size: 2em; text-align: center;">Confirm Scheduling</h1>
    
                    <div style="margin: auto; width: 70%; padding-top: 1rem;">
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Created By:</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.username}</div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Type:</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.servAppointmentType}</div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Salesperson:</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.selectedResource}</div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Sales Manager:</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.selectedManager}</div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Appointment Date/Time:</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.appointmentDate}</div>
                            </div>
                        </div>
                        <div if:true={preparedAppointment.address} class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_5-of-12" style="text-align: right">
                                <div>Address</div>
                            </div>
                            <div class="slds-col slds-size_7-of-12" >
                                <div>{preparedAppointment.address}</div>
                            </div>
                        </div>
                    </div>
                

                    <div style="margin: auto; width: 90%">
                        <div style="font-weight: bold; font-size: medium;">
                            Email confirmation
                            <hr style="margin: 2px">
                        </div>
            
                        <div if:true={isTemplateReady}>
                            <lightning-input type="checkbox" label="Do Not Send Email" name="donotsendemail" value={salesAppointment.OptOutOfConfirmation} 
                                onchange={handleDoNotSendChange}></lightning-input>
            
                            <div >
                                <div class="slds-grid slds-gutters" style="margin: 5px">
                                    <div class="slds-col slds-size_1-of-10" >
                                        <div style="margin-top: 10%">TO:</div>
                                    </div>
                                    <div class="slds-col slds-size_7-of-10" >
                                        <lightning-formatted-text value={relatedAccountEmail} ></lightning-formatted-text>
                                    </div>
                                </div>
                                <div class="slds-grid slds-gutters" style="margin: 5px">
                                    <div class="slds-col slds-size_1-of-10" >
                                        <div style="margin-top: 10%">CC:</div>
                                    </div>
                                    <div class="slds-col slds-size_7-of-10" >
                                        <lightning-input type="email" label="CC:" variant="label-hidden" value={ccEmail} onchange={handleCCInput} disabled={salesAppointment.OptOutOfConfirmation}></lightning-input>
                                    </div>
                                    <div class="slds-col slds-size_2-of-10" >
                                        <lightning-button label=Add variant="brand" onclick={handleAddCC} disabled={salesAppointment.OptOutOfConfirmation}></lightning-button>
                                    </div>
                                </div>
                                <div class="slds-grid slds-gutters" style="margin: 5px">
                                    <div class="slds-col slds-size_1-of-10" ></div>
                                    <div class="slds-col slds-size_7-of-10" style="width: fit-content;">
                                        <template for:each={ccEmailList} for:item="email" for:index="index">
                                            <lightning-pill key={email} label={email} data-index={index} onremove={handleRemoveCC}></lightning-pill>
                                        </template>
                                    </div>
                                    <div class="slds-col slds-size_2-of-10" ></div>
                                </div>
                            </div>
                            
                            
                            <!-- <h1>Additional Comments</h1>
                            <lightning-textarea name="input1" variant="label-hidden" value={comment} onchange={handleCommentInput} disabled={salesAppointment.OptOutOfConfirmation}>
                                </lightning-textarea> -->
            
                            <!-- <lightning-formatted-rich-text value={templateHTML}></lightning-formatted-rich-text> -->
                        </div>
            
                        <div if:false={isTemplateReady}>
                            Email Template is not found. Confirmation email cannot be sent.
                        </div>
                    </div>
                </div>

                <div class="slds-card__footer slds-grid" style="margin-top: 0px;">
                    <div>
                        <button class="slds-col slds-text-align_left slds-button slds-button_neutral" onclick={goToTimeslots}>Previous</button>
                    </div>
                    <div class="slds-col slds-col_bump-left slds-text-align_right">
                        <button class="slds-button slds-button_brand" onclick={finishScheduling}>Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div if:true={createdSuccessfully}>
            <div style="text-align: center; font-size: large; padding-top: 24%;">
                <div >
                    <button class="slds-button" onclick={viewRecord} style="color: cornflowerblue">Sale Appointment</button> was successfully scheduled!
                </div>
                <div>
                    <lightning-button variant="brand" label="Close" onclick={handleClose} class="slds-m-left_x-small"></lightning-button>
                </div>
            </div>
            
        </div>
    </div>
</template>