<template>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
          onclick={closeModal}>
          <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
          </lightning-icon>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
          New Queue Form
        </h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="height: 30rem">
        <h2 style="text-align: center; color: crimson">{errorMessage}</h2>
        <lightning-input type="text" name="queueName" data-id="queueName" label="Type" value={queueName} required onchange={enterName} disabled>
        </lightning-input>
        <lightning-input type="text" name="dealer" label="Dealer" required disabled value={dealer}>
        </lightning-input>
        <div class="slds-checkbox" style="margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 0.3rem;">
          <lightning-input type="checkbox" label="Delayed start" onchange={handleDelayedStart}></lightning-input>
        </div>
        <template if:true={delayedStart}>
          <lightning-input type="time" name="startTime" data-id="startTime" label="Start Time (hh:mm a)" value={currentTime}
            onchange={handleStartTime} required>
          </lightning-input>
        </template>
        <lightning-input type="time" name="endTime" data-id="endTime" label="End Time (hh:mm a)" value={estimatedEndTime}
          onchange={handleEndTime} required>
        </lightning-input>
        <lightning-input type="text" name="upTime" data-id="upTime" label="Up Time (min)" onchange={handleUpTime} required
          value={upTime}>
        </lightning-input>
        <br />
        <lightning-accordion active-section-name={accordianSection} allow-multiple-sections-open>
          <lightning-accordion-section name="Advanced" label="Advanced settings">
            <lightning-input type="text" name="revert" data-id="revert" label="Revert from break time (min)" onchange={handleRevert}
              required value={revert}>
            </lightning-input>
            <lightning-input type="text" name="upNext" data-id="upNext" label="Revert from with guest (min)" onchange={handleUpNext}
              required value={upNext}>
            </lightning-input>
          </lightning-accordion-section>
        </lightning-accordion>
      </div>
      <footer class="slds-modal__footer">
        <lightning-button class="slds-m-top_small" type="submit" label="Create new" onclick={submit}>
        </lightning-button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>