<template>
  <div class="slds-card slds-card_boundary headerBottomBorder forceRelatedListCardDesktop">
    <div
      class="slds-page-header slds-page-header_joined slds-shrink-none test-headerRegion slds-is-relative slds-page-header--object-home">
      <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate firstHeaderRow">
          <div class="slds-media slds-no-space slds-grow">
            <div class="slds-media__body slds-align-middle">
              <h2 class="slds-card__header-title">
                <span class="slds-truncate slds-m-right--xx-small">
                  <b>Resources pool</b>
                </span>
              </h2>
            </div>
          </div>
        </div>
        <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
          <ul class="slds-button-group-list">
            <li>
              <button class="slds-button slds-button_neutral" onclick={changeType}>{displayType}</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <template if:true={isEmpty}>
      <br />
      <h2 class="slds-text-heading_small" style="text-align: center">
        No resources associated with this dealer found.
      </h2>
      <br />
    </template>
    <template if:false={isEmpty}>
      <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <template if:false={isLoaded}>
          <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
        <thead>
          <tr class="slds-line-height_reset">
            <th class="" scope="col">
              <div class="slds-truncate" title="Worker name">Name</div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate" title="Work type">Dealer</div>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" onclick={sortByUpNext} role="button" tabindex="0">
                <div class="slds-truncate" title="Up Next">Up Next (min)</div>
              </a>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" onclick={sortByInQueue} role="button" tabindex="0">
                <div class="slds-truncate" title="Up Next">In queue (min)</div>
              </a>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" onclick={sortByWithGuest} role="button" tabindex="0">
                <div class="slds-truncate" title="With Guest">With Guest (min)</div>
              </a>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" onclick={sortByOnBreak} role="button" tabindex="0">
                <div class="slds-truncate" title="On Break">On Break (min)</div>
              </a>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" onclick={sortByTotal} role="button" tabindex="0">
                <div class="slds-truncate" title="Total">Total (min)</div>
              </a>
            </th>
            <th class="slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" role="button" tabindex="0">
                <div class="slds-truncate" title="Total">Actions</div>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <template for:each={rows} for:item="row">
            <tr class={row.rowClass} key={row.id}  data-rowid={row.id}>
              <th data-label="Worker name" scope="row">
                <div class="slds-truncate" title="Worker name">
                  <div class="slds-truncate" title="Name"><span class="slds-avatar slds-avatar_circle"
                      style="margin: 0.1rem; margin-inline-end: 0.5rem;">
                      <img alt="Person name" src={row.pictureUrl} title="Person name" />
                    </span>{row.name}</div>
                </div>
              </th>
              <td data-label="Location">
                <div class="slds-truncate" title="Dealer">{row.dealer}</div>
              </td>
              <td data-label="Up Next">
                <div class="slds-truncate" title="Up Next (min)">{row.upNext}</div>
              </td>
              <td data-label="Up Next">
                <div class="slds-truncate" title="Up Next (min)">{row.inQueue}</div>
              </td>
              <td data-label="With Guest">
                <div class="slds-truncate" title="With Guest (min)">
                  {row.withGuestTime}
                </div>
              </td>
              <td data-label="On Break">
                <div class="slds-truncate" title="On Break (min)">
                  {row.onBreakTime}
                </div>
              </td>
              <td data-label="Total (min)">
                <div class="slds-truncate" title="Total">{row.totalTime}</div>
              </td>
              <td data-label="Actions">
                <button class="slds-button slds-button_neutral" 
                  disabled={row.notInUse} data-rowid={row.id} data-rowposition={row.position} onclick={handleToQueue}>
                  To queue
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </template>
  </div>
</template>