<template>
    <div class="formTitle">
        <div class="slds-grid slds-gutters">
            <div class="slds-col" style="margin-top: 0.2rem; margin-left: 0.3rem;">
                {componentLabel}
            </div>
            <div class="slds-col_bump-left" style="margin-right: 0.7rem;">
                <lightning-button variant="base" icon-name="utility:delete" onclick={handleClearing}></lightning-button>
            </div>
        </div>
    </div>

    <lightning-input data-fieldname="First_Name__c" name="firstName" type="text" label="First Name" value={firstName} max-length="75" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Last_Name__c" name="lastName" type="text" label="Last Name" value={lastName} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Relationship__c" name="relationship" type="text" label="Relation" value={relationship} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Street__c" name="street" type="text" label="Address 1" value={street} max-length="75" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="Street_2__c" name="street2" type="text" label="Address 2" value={street2} max-length="255" onblur={handleValueChange}></lightning-input>
    <lightning-input data-fieldname="City__c" name="city" type="text" label="City" value={city} max-length="75" onblur={handleValueChange}></lightning-input>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-combobox data-fieldname="State__c" name="state" label="State" value={state}
                        options={statePicklistOptions} onchange={handleValueChange}></lightning-combobox>
            </span>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <span>
                <lightning-input data-fieldname="Postal_Code__c" name="postalCode" type="text" label="Postal Code" value={postalCode} max-length="9" onblur={handleValueChange}></lightning-input>
            </span>
            </div>
    </div>
    <lightning-combobox data-fieldname="Country__c" name="country" label="Country" value={country} 
        options={countryPicklistOptions} onchange={handleValueChange}></lightning-combobox>
    <lightning-input data-fieldname="Phone_Number__c" name="phoneNumber" type="tel" label="Phone" value={phoneNumber} max-length="25" onblur={handleValueChange}></lightning-input>
</template>