<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>
    <template if:true={isAuthorized}>
        <div>
            <c-web-appointment-booking record-id={recordId} ></c-web-appointment-booking>
        </div>
    </template>
    <template if:false={isAuthorized}>
        <div class="main-container">
            <div class="title">
                Appointment Booking
            </div>
            <div class="element-toggle slds-border">
                <lightning-input type="toggle" checked="true" label="Have account" name="haveAccount" onchange={handleAccountToggleSwitch} message-toggle-active = ""  message-toggle-inactive = ""></lightning-input>
            </div>
            <template if:true={haveAccount}>
                <div class="authorization-form slds-border_bottom slds-border_left slds-border_right slds-border_top">
                    <div class="title">
                        Authorization Form
                    </div>
                    <div class="error-message">
                        <template for:each={errors} for:item="error">
                            <div key={error.field}>
                                {error.message}
                            </div>
                        </template>
                    </div>
                    <div class="sucess-message">
                        {message}
                    </div>
                    <div class="element">
                        <lightning-input type="text" name="connectTypeInput" required="true" placeholder="Please enter email or phone" onchange={handleConnectTypeChange} label="Phone or Email:" ></lightning-input>
                    </div>
                    <div class="element-toggle">
                        <lightning-input type="toggle" checked="true" label="Have code" name="haveCode" onchange={handleToggleSwitch} message-toggle-active = ""  message-toggle-inactive = ""></lightning-input>
                    </div>
                    <div class="element">
                        <template if:true={haveCode}>
                            <lightning-button variant="brand" label="Send code" title="Send code" onclick={handleSend} ></lightning-button>
                        </template>
                        <template if:false={haveCode}>
                            <div class="element">
                                <lightning-input type="text" name="codeInput" required="true" label="Code:" placeholder="Enter code here" onchange={handleCodeEnter}></lightning-input>
                            </div>
                            <div class="element">
                                <lightning-button variant="brand" label="Authorize" title="Authorize" onclick={handleAuthorize}></lightning-button>
                            </div>
                        </template>
                   </div>
                </div>
            </template>
            <template if:false={haveAccount}>
                <c-web-appointment-booking-login-page-account-form oncreated={handleCreated}></c-web-appointment-booking-login-page-account-form>
            </template>
        </div>
    </template>
</template>