.main-container {
    margin-top: 10%;
    width: 40%;
    height: auto;
    margin-top: 10%;
    padding: 10px;
    position: relative;
}

.main-container .element {
    margin-top: 1rem;
}

.main-container .element-toggle{
    margin-top: 1rem;
    width: max-content;
}

.main-container .title {
    text-align: center;
    font-size: 1.5rem;
}

.main-container .error-message {
    text-align: left;
    color: red;
    margin-top: 1rem;
}

.main-container .sucess-message {
    text-align: center;
    color: rgba(159, 204, 101, 0.808);
    margin-top: 1rem;
}

.authorization-form {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1%;
}

.authorization-form .title {
    text-align: center;
    font-size: 1rem;
}