.THIS .customTreeGrid .slds-th__action-button.slds-dropdown-trigger.slds-dropdown-trigger_click {
    display: none;
}

.THIS .customTreeGrid span.slds-resizable__handle {
    display: none;
    pointer-events: none;
}

.THIS lightning-primitive-treegrid-cell-toggle {
    outline: none;
}

.THIS .customTreeGrid span.slds-th__action {
    justify-content: center;
    padding-right: 0.25rem;
    box-shadow: initial!important;
}

.THIS tr th:first-child span.slds-th__action {
    justify-content: left;
}

.THIS .customTreeGrid th {
    box-shadow: initial!important;
}

.THIS .customTreeGrid button.slds-button.slds-button_icon.slds-m-right_x-small {
    box-shadow: initial!important;
}

.THIS .customTreeGrid td {
    box-shadow: initial!important;
}

.THIS [aria-level="1"] th.slds-tree__item a {
    /*background-color: red;*/
    color: var(--lwc-colorTextDefault,rgb(8, 7, 7));
    pointer-events: none;
}

.THIS [aria-level="2"] th.slds-tree__item a {
    /*background-color: red;*/
    color: var(--lwc-colorTextDefault,rgb(8, 7, 7));
}

.THIS .datapicker label.slds-form-element__label {
    display: none;
}

.THIS .datapicker .slds-form-element__control.slds-input-has-icon.slds-input-has-icon_right input {
    box-shadow: none;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    margin: 0.3em;
}

.container.cActionTreeGridCmp {
    background-color: white;
    position: relative;
}

.THIS lightning-input.datapicker.slds-form-element {
    /*width: 20%;*/
}

.THIS .conditionContainer {
    display: flex;
    align-items: center;
    padding-left: 0.6em;
}

.THIS .conditions {
    display: flex;
}

.THIS .conditionContainer p{
    margin-left: 0.5rem;
}

.THIS .slds-form-element label.slds-form-element__label {
    display: none;
}

.THIS .conditionContainer .slds-form-element {
    margin: 0.3em;
}

.THIS .slds-select_container select {
    box-shadow: none;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.THIS .conditionContainer .teamContainer {
    width: 30%;
}
.THIS .haveNotData {
    text-align: center;
    margin: 1em;
}
/*.THIS .customTreeGrid .slds-cell-fixed.slds-has-button-menu span.slds-th__action {*/
    /*border-right: solid;*/
    /*border-width: 1px;*/
    /*border-color: gray;*/
/*}*/