<template>
    <div data-id={video.id} class="slds-card" onclick={handleVideoClick}>
        <div style="width:20rem">
            <div class="slds-file slds-file_card slds-has-title">
                <figure>
                    <a class="slds-file__crop">
                        <svg class="slds-icon" aria-hidden="true">
                            <use xlink:href="/_slds/icons/doctype-sprite/svg/symbols.svg#video"></use>
                        </svg>
                        <span class="slds-assistive-text">Preview:</span>
                        <span class="slds-file__icon slds-icon_container" title="image">
<!--                            <lightning-icon icon-name="doctype:video" alternative-text={video.title} title={video.title}></lightning-icon>-->
                            <span class="slds-assistive-text">{video.title}</span>
                        </span>
                    </a>
                    <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title={video.title}>{video.title}</span>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</template>