<template>
    <div if:false={isDataEmpty} class="slds-card slds-card slds-card_boundary headerBottomBorder forceRelatedListCardDesktop">
        <template if:true={isSpinner}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <!-- <lightning-card> -->
            <div class="slds-page-header slds-page-header_joined slds-page-header_bleed slds-shrink-none test-headerRegion slds-is-relative slds-page-header--object-home">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate firstHeaderRow">
                        <div class="slds-media slds-no-space slds-grow">
                            <span class="record-avatar-container slds-avatar slds-avatar_small icon slds-m-right_small">
                                <lightning-icon icon-name="custom:custom95" >
                                </lightning-icon>
                            </span>
                            <div class="slds-media__body slds-align-middle">
                                <h2 class="slds-card__header-title">
                                    <span class="slds-truncate slds-m-right--xx-small">
                                        <b>Future Appointments {displayedDataSize}</b>
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div slot="title">
                <lightning-icon icon-name="custom:custom95" size="small"></lightning-icon>
                &nbsp;&nbsp;
                <p style="display: inline-block; font-weight: bold;">Future Appointments {displayedDataSize}</p>
            </div> -->

            <div if:false={isDataEmpty}>
                <c-custom-lightning-datatable
                    key-field="appointmentId"
                    data={data}
                    columns={columns}
                    onrowaction={handleRowAction}
                    show-row-number-column
                    hide-checkbox-column
                    default-sort-direction={defaultSortDirection}
                    sorted-direction={sortDirection}
                    sorted-by={sortedBy}
                    onsort={handleSort}>
                </c-custom-lightning-datatable>

                <div if:true={isDisplayShowMoreButton} style="text-align: center">
                    <div if:false={allDataShown}>
                        <lightning-button
                            variant="base"
                            label="Show More"
                            onclick={handleShowMore}>
                        </lightning-button>
                    </div>
                    <div if:true={allDataShown}>
                        <lightning-button
                            variant="base"
                            label="Show Less"
                            onclick={handleShowLess}>
                        </lightning-button>
                    </div>
                </div>
            </div>

            <template if:true={rescheduleModalView}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header slds-modal__header_empty">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" onclick={closeRescheduleModal}>
                                <lightning-icon icon-name="utility:close" size="medium">
                                </lightning-icon>
                                <span class="slds-assistive-text" style="color: white;">Close</span>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <c-opportunity-event-log record-id={recordId} appointment-id={appointmentId} pre-fill-mode></c-opportunity-event-log>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>

        <!-- </lightning-card> -->
    </div>
</template>