<template>
    <template if:false={isLoaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Service Resource</h2>
    </header>

    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <div class="slds-wrap slds-grid slds-m-bottom_medium">
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small"
                    label="Name"
                    type="text"
                    value={serviceResource.Name}
                    required
                    data-field="Name"
                    max-length="255"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <div class="slds-m-horizontal_small">
                    <c-custom-lookup
                        class="required-lookup"
                        value={serviceResource.RelatedRecordId}
                        object-api-name="User"
                        label="User"
                        is-edit-mode="true"
                        icon-name="standard:user"
                        onvaluechange={handleLookupValueChange}
                        data-field="RelatedRecordId"
                        label-class="required-label">
                    </c-custom-lookup>
                </div>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-combobox
                    class="slds-m-horizontal_small"
                    label="Dealer"
                    value={serviceResource.Dealer__c}
                    required
                    options={dealerOptions}
                    data-field="Dealer__c"
                    onchange={handleFieldChange}>
                </lightning-combobox>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small"
                    label="Default Advisor Time"
                    type="number"
                    step="5"
                    min="5"
                    max="120"
                    value={serviceResource.DefaultAdvisorTime__c}
                    required
                    data-field="DefaultAdvisorTime__c"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small"
                    label="Daily Capacity"
                    type="number"
                    max="999"
                    value={serviceResource.DailyCapacity__c}
                    required
                    data-field="DailyCapacity__c"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small"
                    label="Daily Loaner Availability"
                    type="number"
                    max="999"
                    value={serviceResource.DailyLoanerAvailability__c}
                    required
                    data-field="DailyLoanerAvailability__c"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small slds-m-top_large"
                    label="Active"
                    type="checkbox"
                    checked={serviceResource.IsActive}
                    data-field="IsActive"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
            <div class="slds-size_1-of-2 slds-m-bottom_medium">
                <lightning-input
                    class="slds-m-horizontal_small"
                    label="Service Advisor Number"
                    type="text"
                    value={serviceResource.ServiceAdvisorNumber__c}
                    required
                    data-field="ServiceAdvisorNumber__c"
                    max-length="17"
                    onchange={handleFieldChange}>
                </lightning-input>
            </div>
        </div>
    </div>

    <footer class="slds-modal__footer">
        <button class="slds-button slds-button_neutral" onclick={cancel}>Cancel</button>
        <button class="slds-button slds-button_brand" onclick={save}>Next</button>
    </footer>
</template>