<template>
    <div class="tabTitle">
        {role}
    </div>
    
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-employer-form employer-type="Current_Employer" component-label="Current Employer" onvaluechanged={handleValueChange}></c-credit-application-employer-form></div>
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-employer-form employer-type="Previous_Employer" component-label="Previous Employer" onvaluechanged={handleValueChange}></c-credit-application-employer-form>
        </div>
    </div>
</template>