<template>
    <div class="slds-grid slds-gutters slds-m-around_xx-small slds-wrap">
                    <lightning-input type="datetime" label="Start Date" name="StartDate" variant='label-Stacked' required="True" class="StartDate"></lightning-input>
                    <lightning-input type="datetime" label="End Date" name="StartDate" variant='label-Stacked' required="True" class="EndDate"></lightning-input>
    </div>
    <lightning-tabset variant="scoped">
    <lightning-tab label="Monday">
        <div class="slds-grid slds-gutters slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={mondayRows} for:item="rw" for:index="mindx">
                    <tr key={mondayRows.Index} data-id={mindx}>
                        <td>
                            <lightning-input type="time" name="From" onchange={handleFrom} data-id={mindx} data-day="Monday" variant='label-hidden' class="MondayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" onchange={handleTo} data-id={mindx} data-day="Monday" variant='label-hidden' class="MondayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Monday"
                            onchange={handleIncrement}
                            data-id={mindx}
                            class="slds-m-around_x-small MondayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={mindx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Monday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Monday" class="slds-m-around_x-small"></lightning-button>
       </div>
        </div>
    </div>
        </div>
    </lightning-tab>
        
        <lightning-tab label="Tuesday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={tuesdayRows} for:item="rw" for:index="tindx">
                    <tr key={tuesdayRows.Index} data-id={tindx}>
                        <td>
                            <lightning-input type="time" name="From" data-day="Tuesday" data-id={tindx} onchange={handleFrom} variant='label-hidden' class="TuesdayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" data-day="Tuesday" data-id={tindx} onchange={handleTo} variant='label-hidden' class="TuesdayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Tuesday"
                            onchange={handleIncrement}
                            data-id={tindx}
                            class="slds-m-around_x-small TuesdayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={tindx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Tuesday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Tuesday" class="slds-m-around_x-small"></lightning-button>
        </div>
        </div>
    </div>
        </div>
    </lightning-tab>
        <lightning-tab label="Wednesday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={wednesdayRows} for:item="rw" for:index="windx">
                    <tr key={wednesdayRows.Index} data-id={windx}>
                        <td>
                            <lightning-input type="time" name="From" data-day="Wednesday" data-id={windx} onchange={handleFrom} variant='label-hidden' class="WednesdayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" data-day="Wednesday" data-id={windx} onchange={handleTo} variant='label-hidden' class="WednesdayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Wednesday"
                            onchange={handleIncrement}
                            data-id={windx}
                            class="slds-m-around_x-small WednesdayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={windx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Wednesday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Wednesday" class="slds-m-around_x-small"></lightning-button>
       </div>
        </div>
    </div>
        </div>
    </lightning-tab>
        <lightning-tab label="Thursday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={thursdayRows} for:item="rw" for:index="thindx">
                    <tr key={thursdayRows.Index} data-id={thindx}>
                        <td>
                            <lightning-input type="time" name="From" data-day="Thursday" data-id={thindx} onchange={handleFrom} variant='label-hidden' class="ThursdayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" data-day="Thursday" data-id={thindx} onchange={handleTo} variant='label-hidden' class="ThursdayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Thursday"
                            onchange={handleIncrement}
                            data-id={thindx}
                            class="slds-m-around_x-small ThursdayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={thindx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Thursday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Thursday" class="slds-m-around_x-small"></lightning-button>
        </div>
        </div>
    </div>
        </div>
    </lightning-tab>
        <lightning-tab label="Friday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={fridayRows} for:item="rw" for:index="findx">
                    <tr key={fridayRows.Index} data-id={findx}>
                        <td>
                            <lightning-input type="time" name="From" data-day="Friday" data-id={findx} onchange={handleFrom} variant='label-hidden' class="FridayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="Tow" data-day="Friday" data-id={findx} onchange={handleTo} variant='label-hidden' class="FridayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Friday"
                            onchange={handleIncrement}
                            data-id={findx}
                            class="slds-m-around_x-small FridayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={findx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Friday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Friday" class="slds-m-around_x-small"></lightning-button>
        </div>
        </div>
    </div>
        </div>
    </lightning-tab>

    <lightning-tab label="Saturday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={saturdayRows} for:item="rw" for:index="mindx">
                    <tr key={saturdayRows.Index} data-id={mindx}>
                        <td>
                            <lightning-input type="time" name="From" onchange={handleFrom} data-id={mindx} data-day="Saturday" variant='label-hidden' class="SaturdayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" onchange={handleTo} data-id={mindx} data-day="Saturday" variant='label-hidden' class="SaturdayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Saturday"
                            onchange={handleIncrement}
                            data-id={mindx}
                            class="slds-m-around_x-small SaturdayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={mindx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Saturday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-around_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Saturday" class="slds-m-around_x-small"></lightning-button>
       </div>
        </div>
    </div>
        </div>
    </lightning-tab>


    <lightning-tab label="Sunday">
        <div class="slds-grid slds-gutters slds-p-around_xx-small slds-wrap">
        <div class="container-fluid slds-col slds-size_12-of-12 slds-p-top_small">
        <div class="container-fluid">        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-no-row-hover"> 
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="From">From</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="To">To</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Increment">Increment</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Delete"></div>
                        </th>
                    </tr>
                </thead>   
                <tbody>  
                    <template for:each={sundayRows} for:item="rw" for:index="mindx">
                    <tr key={sundayRows.Index} data-id={mindx}>
                        <td>
                            <lightning-input type="time" name="From" onchange={handleFrom} data-id={mindx} data-day="Sunday" variant='label-hidden' class="SundayFrom" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-input type="time" name="To" onchange={handleTo} data-id={mindx} data-day="Sunday" variant='label-hidden' class="SundayTo" required="True"></lightning-input>
                        </td>
                        <td>
                            <lightning-combobox
                            name="Increment"
                            value={value}
                            placeholder="Select Increment"
                            options={options}
                            data-day="Sunday"
                            onchange={handleIncrement}
                            data-id={mindx}
                            class="slds-m-around_x-small SundayIncrement"
                            variant='label-hidden'
                            required="True"
                            >
                            </lightning-combobox>
                        </td> 
                        <td>
                             <lightning-button-icon icon-name="utility:delete" data-id={mindx} alternative-text="Delete" 
                             class="slds-m-left_xx-small" onclick={removeRow} title="Delete" value="Sunday"></lightning-button-icon>
                        </td>
                    </tr> 
                    </template>  
                </tbody>
            </table>
            <div class="slds-m-top_x-small">
            <lightning-button variant="Brand" label="Add Row" icon-name="utility:add" onclick={addRow} value="Sunday" class="slds-m-around_x-small"></lightning-button>
       </div>
        </div>
    </div>
        </div>
    </lightning-tab>

</lightning-tabset>
    <div class="slds-grid slds-gutters slds-m-around_xx-small slds-wrap" style="margin-top: 30px;">
        <span>Once time slots have been added for <strong>each desired weekday</strong>, please click save to insert those time slots. You can only do this once from here!</span>
        <button onclick={save} class="slds-button slds-button_stretch" style="background-color:#0070d2;border: 1px solid #0070d2;color: #fff;margin-top: 10px;">Save</button>
    </div>
</template>