.tabTitle {
  text-align: center;
  background-color:rgb(224, 224, 224);
  height: 2rem;
  padding-top: 0.25rem;
  font-size: large;
}

.formTitle {
  border-bottom: solid 0.15rem;
  border-color: #3399ff;
  background-color: rgb(228, 242, 255);
  height: 1.85rem;
  margin-top: 0.5rem;
  font-size: medium;
  font-weight: bold;
  padding-top: 0.2rem; 
  padding-left: 0.3rem;
}