<template>
    <div class="tabTitle">
        {role}
    </div>

    <div class="formTitle">
        Income (Gross)
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-income-form component-label="Monthly" onvaluechanged={handleValueChange} onemploymentvaluechange={handleEmploymentValueEdit} onalimonyvaluechange={handleAlimonyValueEdit} onincomevaluechange={handleIncomeValueEdit}></c-credit-application-income-form></div>
        <div class="slds-col slds-size_1-of-2">
            <c-credit-application-income-form component-label="Annually" onvaluechanged={handleValueChange} employment={annuallyemployment} alimony={annuallyalimony} otherincome={annuallyincome}  totalincome={totalincome} inputdisabled></c-credit-application-income-form>
        </div>
    </div>

    <lightning-combobox data-fieldname="Alimony_Income_Interval__c" name="alimonyAgreementPicklist" 
        label="Alimony Agreement" value={alimonyIncomeInterval} options={alimonyIncomeIntervalOptions} onchange={handleValueChange}></lightning-combobox>
    <lightning-input data-fieldname="Other_Income_Source__c" type="text" label="Other Income Source" value={incomeSource} max-length="255" onblur={handleValueChange}></lightning-input>
</template>