<template>
    <div if:false={createdSuccessfully}>
        <c-wizard header="Schedule Service Appointment " subtitle={selectedContact.Name} dealer={serviceAppointment.Dealer} variant="base"
        auth-contact-name={authContactName} selected-veh-name={selectedVehName} current-step={currentStep} finish-label="Schedule">
            <c-wizard-step  name="step-1" before-change={handleVehicleSave}>
                <template if:false={isLoaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>

                <div>
                    <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
                        Authorized Contact
                    </div>
                    <div style="margin: auto; width: 60%">
                        <div if:true={isAuthorizedContactsExist}>
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <template for:each={authContacts} for:item="cont">
                                        <span class="slds-radio" key={cont.value}>
                                            <input type="radio" id={cont.value} value={cont.value} name="authContact" onclick={handleAuthContactChange} />
                                            <label class="slds-radio__label" for={cont.value}>
                                                <span class="slds-radio_faux"></span>
                                                <span class="slds-form-element__label">{cont.label}</span>
                                            </label>
                                        </span>
                                    </template>
                                </div>
                            </fieldset>
                        </div>
                        <div if:false={isAuthorizedContactsExist}>
                            No other authorized contacts.
                        </div>
                    </div>
                </div>

                <div style="margin-top: 2.5rem;">
                    <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
                        Select Associated Vehicle
                    </div>
                    <div style="margin: auto; width: 60%">
                        <lightning-radio-group name="vehicles" options={vehicles} value={serviceAppointment.Vehicle} disabled={isUpdate}
                            type="radio" onchange={handleVehicleChange} label-hidden></lightning-radio-group>
                    </div>
                </div>

                <div style="margin-top: 2.5rem;">
                    <div class="slds-text-align_center slds-p-around_small slds-text-heading_medium">
                        Add New Vehicle
                    </div>
                    <div style="margin: auto; width: 60%">
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_1-of-5" >
                                <div style="margin-top: 10%">VIN</div>
                            </div>
                            <div class="slds-col slds-size_4-of-5" >
                                <lightning-input data-fieldname="VIN__c" name="vehVIN" value={newVehicle.VIN__c}
                                    max-length="17" onchange={handleVehicleFieldChange} disabled={isAddNewVehicleDisabled}
                                    variant="label-hidden" >
                                </lightning-input>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_1-of-5" >
                                <div style="margin-top: 10%">Year</div>
                            </div>
                            <div class="slds-col slds-size_4-of-5" >
                                <!-- <lightning-input type="text" data-fieldname="Year__c" name="vehYear" value={newVehicle.Year__c} 
                                    onchange={handleVehicleYearFieldChange} min-length="4" max-length="4" disabled={isAddNewVehicleDisabled} variant="label-hidden" required>
                                </lightning-input> -->
                                <lightning-combobox data-fieldname="Year__c" name="vehYearPicklist" value={newVehicle.Year__c}
                                    options={vehYearOptions} onchange={handleVehicleFieldChange} disabled={isAddNewVehicleDisabled}
                                    variant="label-hidden" required dropdown-alignment="bottom-left">
                                </lightning-combobox>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_1-of-5" >
                                <div style="margin-top: 10%">Make</div>
                            </div>
                            <div class="slds-col slds-size_4-of-5 " >
                                <lightning-combobox data-fieldname="Make__c" name="vehMake" value={newVehicle.Make__c}
                                    options={vehMakesOptions} onchange={handleVehicleFieldChange} disabled={isAddNewVehicleDisabled}
                                    variant="label-hidden" required dropdown-alignment="bottom-left">
                                </lightning-combobox>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin: 5px">
                            <div class="slds-col slds-size_1-of-5" >
                                <div style="margin-top: 10%">Model</div>
                            </div>
                            <div class="slds-col slds-size_4-of-5" >
                                <div if:false={isModelYearOptionsExist}>
                                    <lightning-input data-fieldname="Model__c" name="vehModel" value={newVehicle.Model__c}
                                        onchange={handleVehicleFieldChange} disabled={isAddNewVehicleDisabled} variant="label-hidden" required>
                                    </lightning-input>
                                </div>

                                <div if:true={isModelYearOptionsExist} >
                                    <lightning-combobox data-fieldname="Model__c" name="vehModel" value={newVehicle.Model__c}
                                        options={modelYearOptions} onchange={handleVehicleFieldChange} disabled={isAddNewVehicleDisabled}
                                        variant="label-hidden" required dropdown-alignment="bottom-left">
                                    </lightning-combobox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </c-wizard-step>

            <c-wizard-step name="step-2" before-change={handleSave}>
                <template if:false={isLoaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>

                <c-appointment-booking-worktype-selection dealer-id={serviceAppointment.Dealer} customer-id={recordId} selected-vehicle={serviceAppointment.Vehicle}
                    preselected-worktypes={preselectedWorktypes} onworktypeselected={handleWorktypeSelect}>
                </c-appointment-booking-worktype-selection>

                </br>

                <div style="margin: auto; width: 60%">
                    <h1>Service Specials</h1>
                    <lightning-input name="input1" variant="label-hidden" data-field="ServiceSpecials" value={serviceAppointment.ServiceSpecials} 
                        max-length="255" onchange={handleAdditionalInfoInput}>
                    </lightning-input>
                </div>

                <div style="margin: auto; width: 60%">
                    <h1>Vehicle Mileage</h1>
                    <lightning-input name="mileage" type="number" variant="label-hidden" data-field="ServiceSpecials" value={vehicleMileage} 
                        max-length="7" onchange={handleMiliageInput}>
                    </lightning-input>
                </div>
                
                <div style="margin-left: auto; margin-right: auto; width: 60%; margin-top: 1rem;">
                    <h1>Additional Information (Including comments, diagnostic information or other guest feedback)</h1>
                    <lightning-textarea name="input1" variant="label-hidden" data-field="AdditionalInformation" value={serviceAppointment.AdditionalInformation} 
                        max-length="255" onchange={handleAdditionalInfoInput}>
                    </lightning-textarea>
                </div>
                </br>
                
                <c-appointment-booking-transportation-type-selection disable-all={worktypesNotSelected} available-transportations={availableTransportations}
                    request-loaner={serviceAppointment.RequestLoaner} preselected-transportation={preselectedTransportation} 
                    onloanerrequested={handleLoanerRequested} ontransportationselected={handleTransportationSelect}>
                </c-appointment-booking-transportation-type-selection>
                <!-- <c-appointment-booking-transportation-type-selection disable-all={worktypesNotSelected} available-transportations={availableTransportations}
                    is-rideshare-available={isRideshareAvailable} is-loaner-available={isLoanerAvailable}
                    preselected-transportation={preselectedTransportation} ontransportationselected={handleTransportationSelect}>
                </c-appointment-booking-transportation-type-selection> -->
            </c-wizard-step>

            <c-wizard-step name="step-3" before-change={prepareConfirmation}>
                <template if:false={isLoaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>

                <div if:false={isOpenStoreUsed}>
                    <c-appointment-booking-schedule-table timeslots-json={schedTimeSlotsJSON} advisors-map={advisorsMap} 
                        service-appointment-id={serviceAppointment.Id} pref-advisor={serviceAppointment.PreferredAdvisor} 
                        dealer={serviceAppointment.Dealer} pref-date={prefDate} transportation-type={serviceAppointment.TransportationType}
                        earliest-start-date={earliestStartDate} scheduled-timeslot={scheduledTimeslot} buffer-time={dealerBufferTime}
                        wait-capacity={dealerWaitCapacity} loaner-requested={isLoanerRequestedForPickup} express-requested={serviceAppointment.Express}
                        request-loaner={serviceAppointment.RequestLoaner} rental-auto-assigned={isRentalAutoAssigned}
                        ongettimeslots={handleGetNewTimeslot} ontimeslotselected={handleTimeslotSelected} pickup-delivery-resources={pickupDeliveryResources}
                        onloanerrequested={handleLoanerRequested} onloaded={onloadedHandle}>
                    </c-appointment-booking-schedule-table>
                </div>
                <div if:true={isOpenStoreUsed}>
                    <c-appointment-booking-open-schedule-table  scheduled-timeslot={scheduledTimeslot} 
                        service-appointment-id={serviceAppointment.Id} dealer={dealer} 
                        pref-date={prefDate} earliest-start-date={earliestStartDate}
                        transportation-type={serviceAppointment.TransportationType} express-requested={serviceAppointment.Express}
                        buffer-time={dealerBufferTime} rental-auto-assigned={isRentalAutoAssigned}
                        wait-capacity={dealerWaitCapacity} loaner-requested={isLoanerRequestedForPickup} 
                        request-loaner={serviceAppointment.RequestLoaner} pickup-delivery-resources={pickupDeliveryResources}
                        timeslots-json={schedTimeSlotsJSON}
                        ongettimeslots={handleGetNewTimeslot} ontimeslotselected={handleTimeslotSelected} 
                        onloanerrequested={handleLoanerRequested} onloaded={onloadedHandle}>
                    </c-appointment-booking-open-schedule-table>
                </div>
                
                </br>
            </c-wizard-step>

            <c-wizard-step name="step-4" before-change={confirmAppointmentBooking}>
                <template if:false={isLoaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>

                <c-appointment-booking-confirmation service-appointment={scheduledServiceAppointment} is-update={isUpdate} is-open-store={isOpenStoreUsed}
                    onemailprepared={handleEmailPreparation}></c-appointment-booking-confirmation>
            </c-wizard-step>
        </c-wizard>
    </div>
    <div if:true={createdSuccessfully}>
        <div style="text-align: center; font-size: large; padding: 10%;">
            <div >
                <button class="slds-button" onclick={viewRecord} style="color: cornflowerblue">Service Appointment</button> was successfully scheduled!
            </div>
            <div>
                <lightning-button variant="brand" label="Close" onclick={handleClose} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
    </div>
</template>